<template>
	<transition name="el-alert-fade">
		<div class="el-alert" :class="[typeClass, center ? 'is-center' : '']" v-show="visible" role="alert">
			<!-- <i class="el-alert__icon" :class="[ iconClass, isBigIcon ]" v-if="showIcon"></i> -->
			<Icon class="el-alert__icon" :name=" iconClass " v-if="showIcon" :style="iconStyle"></Icon>
			<Icon class="el-alert__titleIcon" :name=" iconClass " v-if="showIcond" :style="iconStyle"></Icon>
			<div class="el-alert__content">
				<span class="el-alert__title" :class="[ isBoldTitle ]" v-if="title">{{ title }}</span>
				<slot>
					<p class="el-alert__description" v-if="description">{{ description }}</p>
				</slot>
				<i class="el-alert__closebtn" @click="close()">
					<Icon :name=" closeText === ''?'close':'' " v-show="closable">{{closeText}}</Icon>
				</i>
				<!-- <i class="el-alert__closebtn" :class="{ 'is-customed': closeText !== '', 'el-icon-close': closeText === '' }" v-show="closable" @click="close()">{{closeText}}</i> -->
			</div>
		</div>
	</transition>
</template>

<script type="text/babel">
import Icon from 'minderd/packages/icon';
const TYPE_CLASSES_MAP = {
    success: 'success',
    titleSuccess: 'success',
    IconSuccess: 'success',
    info: 'info',
    titleInfo: 'info',
    IconInfo: 'info',
    warning: 'warning',
    titleWarning: 'warning',
    IconWarning: 'warning',
    error: 'error',
    titleError: 'error',
    IconError: 'error'
};
export default {
    name: 'ElAlert',
    props: {
        title: {
            type: String,
            default: '',
            required: true
        },
        description: {
            type: String,
            default: ''
        },
        type: {
            type: String,
            default: 'info'
        },
        closable: {
            type: Boolean,
            default: true
        },
        closeText: {
            type: String,
            default: ''
        },
        showIcon: Boolean,
        showIcond: Boolean,
        center: Boolean,
        icon: String,
        iconStyle: Object
    },
    components: { Icon },
    data() {
        return {
            visible: true
        };
    },
    methods: {
        close() {
            console.log('关闭');
            this.visible = false;
            this.$emit('close');
        }
    },
    computed: {
        typeClass() {
            return `el-alert--${this.type}`;
        },
        iconClass() {
            return this.icon || TYPE_CLASSES_MAP[this.type] || 'info';
        },
        isBigIcon() {
            return this.description || this.$slots.default ? 'is-big' : '';
        },
        isBoldTitle() {
            return this.description || this.$slots.default ? 'is-bold' : '';
        }
    }
};
</script>