<template>
    <svg class="el-icon icon" aria-hidden="true">
        <use :xlink:href="'#icon-' + name"></use>
    </svg>
</template>

<script>
    export default {
        name: 'ElIcon',

        props: {
            name: String
        }
    }
</script>
