<template>
    <div>
        <el-upload
            :is-background="isBackground"
            :file-list="fileList"
            multiple
            :limit="limit"
            :size="size"
            :action="action"
            :accept="accept"
            :data="params"
            :headers="requestHeader"
            list-type="picture-card"
            :before-upload="beforeUpload"
            :on-remove="remove"
            :on-success="success"
            :drag="drag"
            :name="name"
            :disabled="disabled"
            :with-credentials="withCredentials"
            :on-exceed="onExceed"
            :on-preview="handlePictureCardPreview">
            <el-icon name="increase"></el-icon>
            <div slot="tip">
                <slot name="tip">{{ tip }}</slot>
            </div>
        </el-upload>
        <el-dialog :visible.sync="dialogVisible" v-if="visiblePreview" class="preview-image">
            <img v-if="!mp4" :src="dialogImageUrl" alt="">
            <video v-else :src="dialogImageUrl" controls="controls"></video>
        </el-dialog>
    </div>
</template>

<script>

    export default {
        name: 'ElUploadFiles',

        data() {
            return {
                uploadFileList: [],
                dialogVisible: false,
                mapping: [],
                dialogImageUrl: '',
                repeatRemove: false,
                mp4: false
            };
        },

        props: {
            size: String,
            accept: {
                type: String,
                default: ''
            },
            limit: {
                type: Number,
                default: Number.MAX_VALUE
            },
            disabled: {
                type: Boolean,
                default: false
            },
            fileList: {
                type: Array,
                default() {
                    return []
                }
            },
            action: {
                required: true,
                type: String
            },
            tip: {
                type: String,
                default: ''
            },
            headers: {
                type: Object,
                default() {
                    return {}
                }
            },
            value: {
                type: Array,
                default() {
                    return [];
                }
            },
            trigger: {
                type: String,
                default: ''
            },
            isBackground: {
                type: Boolean,
                default: false
            },
            visiblePreview: {
                type: Boolean,
                default: true
            },
            params: {
                type: Object,
                default() {
                    return {}
                }
            },
            drag: Boolean,
            name: String,
            withCredentials: Boolean,
            onExceed: Function,
            className: String
        },
        computed: {
            requestHeader() {
                let header = {
                    'X-Requested-With': 'XMLHttpRequest',
                    'Token': '',
                    'Language': '',
                    'Accept-Language': 'en-us;q=0.8',
                    'Accept': 'application/json, text/plain, */*'
                };
                if (this.headers) {
                    return Object.assign({}, header, this.headers)
                } else {
                    return header;
                }
            }
        },
        methods: {
            handlePictureCardPreview(file) {
                let index= file.name.lastIndexOf('.');
                let ext = file.name.substr(index+1);
                if (ext.indexOf('丨') !== -1) {
                    ext = ext.split('丨')[0]
                }
                ext = ext.toLowerCase();
                if (ext === 'mp4') {
                    this.dialogVisible = true;
                    this.dialogImageUrl = file.url;
                    this.mp4 = true;
                    return
                }
                if (ext === 'png' || ext === 'jpg' || ext === 'jpeg' || ext === 'gif') {
                    this.dialogVisible = true;
                    this.mp4 = false;
                    if (file.url.indexOf('!') !== -1) {
                        this.dialogImageUrl = file.url.split('!')[0];
                    } else {
                        this.dialogImageUrl = file.url;
                    }
                    return
                }
                location.href = file.url

            },
            remove(file, fileList) {
                this.getValueList(fileList);
                if (!this.repeatRemove) {
                    if (file.raw) {
                        let hash = file.raw.__hash;
                        this.mapping.splice(this.mapping.indexOf(hash), 1);
                    }
                }
                this.repeatRemove = false;
            },
            success(response, file, fileList) {
                this.getValueList(fileList);
            },
            getValueList(fileList) {
                this.value.length = 0;
                for (let i of fileList) {
                    this.value.push(i);
                }
                this.$emit('input', this.value)
            },
            beforeUpload(file) {
                let hash = file.__hash || (file.__hash = this.hashString( file.name +
                    file.size + file.lastModified ));

                if (this.mapping.indexOf(hash) !== -1) {
                    this.$emit('error', {
                        repeat: true,
                        message: '重复文件'
                    });
                    this.repeatRemove = true;
                    return false;
                } else {
                    this.mapping.push(hash)
                }
            },
            hashString(str) {
                let hash = 0;
                let i = 0;
                let len = str.length;
                let _char;

                for ( ; i < len; i++ ) {
                    _char = str.charCodeAt( i );
                    hash = _char + (hash << 6) + (hash << 16) - hash;
                }

                return hash;
            }
        },

        watch: {
            value: {
                deep: true,
                immediate: true,
                handler(n, o) {
                    this.uploadFileList = n;
                }
            }
        }
    }
</script>
