@import "mixins/mixins";
@import "common/var";

@include b(alert) {
	width: 100%;
	padding: $alert-padding;
	margin: 0;
	margin-bottom: $margin-2;
	box-sizing: border-box;
	// border-radius: $alert-border-radius;
	position: relative;
	background-color: $grey-1;
	overflow: hidden;
	opacity: 1;
	line-height: 1.5;
	list-style: none;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	// transition: opacity .2s;
	transition: $all-transition;

	@include when(center) {
		justify-content: center;
	}

	@include m(success) {
		background-color: $alert-success-background;
		color: $alert-success-color;
	}

	@include m(info) {
		background-color: $alert-info-background;
		color: $alert-info-color;
	}

	@include m(warning) {
		background-color: $alert-warning-background;
		color: $alert-warning-color;
	}

	@include m(error) {
		background-color: $alert-danger-background;
		color: $alert-danger-color;
	}

	@include m(titleSuccess) {
		padding: 15px;
		background-color: $alert-success-color;
		color: $grey-8;
		border: 1px solid $green-3;
	}

	@include m(titleInfo) {
		padding: 15px;
		background-color: $alert-info-color;
		color: $grey-8;
		border: 1px solid $blue-3;
	}

	@include m(titleWarning) {
		padding: 15px;
		background-color: $alert-warning-color;
		color: $grey-8;
		border: 1px solid $oringe-4;
	}

	@include m(titleError) {
		padding: 15px;
		background-color: $alert-danger-color;
		color: $grey-8;
		border: 1px solid $red-3;
	}

	@include m(IconSuccess) {
		padding: 15px 15px 15px 64px;
		background-color: $alert-success-color;
		color: $grey-8;
		border: 1px solid $green-3;
		position: relative;
	}


	@include m(IconInfo) {
		padding: 15px 15px 15px 64px;
		background-color: $alert-info-color;
		color: $grey-8;
		border: 1px solid $blue-3;
		position: relative;
	}

	@include m(IconWarning) {
		padding: 15px 15px 15px 64px;
		background-color: $alert-warning-color;
		color: $grey-8;
		border: 1px solid $oringe-4;
		position: relative;
	}

	@include m(IconError) {
		padding: 15px 15px 15px 64px;
		background-color: $alert-danger-color;
		color: $grey-8;
		border: 1px solid $red-3;
		position: relative;
	}


	@include e(content) {
		display: table-cell;
		padding: 0 8px;
	}


	@include e(icon) {
		font-size: $alert-icon-size;
		width: $alert-icon-size;

		@include when(big) {
			font-size: $alert-icon-large-size;
			width: $alert-icon-large-size;
		}
	}

	@include e(titleIcon) {
		font-size: 28px;
		position: absolute;
		top: 11px;
		left: 30px;
	}

	@include e(title) {
		font-size: $alert-title-font-size;
		line-height: 18px;

	}


	& .el-alert__description {
		margin-top: 8px;
		font-size: $font-size-base;
		line-height: 22px;
		// margin: 5px 0 0 0;
	}

	@include e(closebtn) {
		color: $grey-6;
		opacity: 1;
		position: absolute;
		top: 7px;
		right: 16px;
		cursor: pointer;
		font-size: $font-size-base;

		@include when(customed) {
			font-style: normal;
			font-size: $alert-close-customed-font-size;
			top: 9px;
		}
	}
}

.el-alert-fade-enter,
.el-alert-fade-leave-active {
	opacity: 0;
}