@import "./mixins/mixins";
@import "./mixins/utils";
@import "./common/var";

@include b(breadcrumb) {
    font-size: $font-size-base;
    line-height: 1;
    @include utils-clearfix;

    @include e(separator) {
        margin: 0 $margin-1;
        color: $grey-7;

        &[class*=icon] {
            margin: 0 $margin-1;
        }
    }

    @include e(item) {
        float: left;

        @include e(inner) {
            color: $color-breadcrumb-text-primary;

            &.is-link, & a {
                text-decoration: none;
                transition: $transition-base;
                color: $color-breadcrumb-text-primary;

                &:hover {
                    color: $color-primary;
                    cursor: pointer;
                }
            }
        }
        .el-breadcrumb__separator{
            font-size: $font-size-sm;
        }

        &:last-child {
            .el-breadcrumb__inner,
            .el-breadcrumb__inner a {
                &, &:hover {
                    color: $color-text-primary;
                    cursor: text;
                }
            }

            .el-breadcrumb__separator {
                display: none;
            }
        }
    }
}

