@charset "UTF-8";
@import "./common/var";
@import "./mixins/button";
@import "./mixins/mixins";
@import "./mixins/utils";

@include b(button) {
	display: inline-block;
	margin: 0;
	border: $button-border;
	// border-radius: $button-border-radius;
	border-color: $button-primary;
	font-weight: $button-font-weight;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	color: $button-white;
	background: $button-primary;
	-webkit-appearance: none;
	box-sizing: border-box;
	outline: none;
	user-select: none;
	transition: $button-transition;

	@include button-variant($button-primary, $button-primary-hover, $button-primary-active);
	@include button-size($button-height, $button-font-size, $button-padding);

	& + .el-button {
		margin-left: $button-next-margin;
	}

	@include m(success) {
		@include button-variant($button-success, $button-success-hover, $button-success-active);
	}

	@include m(danger) {
		@include button-variant($button-danger, $button-danger-hover, $button-danger-active);
	}

	@include m(trans) {
        @include button-transparent($grey-1);
	}

	@include m(text) {
		@include button-variant(transparent, transparent, transparent);
		height: 20px !important;
		line-height: 20px !important;
		padding: 0;
		font-size: $button-font-size;
		color: $button-color;

		&:hover {
			color: $button-primary;
		}
	}

	@include m(large) {
		@include button-size($button-large-height, $button-large-font-size, $button-large-padding);
	}

	@include m(small) {
		@include button-size($button-small-height, $button-small-font-size, $button-small-padding);
	}

	@include m(mini) {
		@include button-size($button-mini-height, $button-mini-font-size, $button-mini-padding);
	}

	@include when(block) {
		display: block;
		width: 100% !important;
		// height: 100%;

		& + .el-button {
			margin-left: 0;
		}
	}

	@include e(icon) {
		margin-right: $button-icon-margin - 4;

		&.el-icon-loading {
			animation: rotate 3s linear infinite;
		}
	}

	@keyframes rotate {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	@include b(button-group) {
		@include utils-clearfix;
		display: inline-block;
		vertical-align: middle;

		& .el-button {
			float: left;
			position: relative;

			& + .el-button {
				margin-left: 0;
			}

			&:first-child {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			&:last-child {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}

			&:first-child:last-child {
				// border-top-right-radius: $button-border-radius;
				// border-bottom-right-radius: $button-border-radius;
				// border-top-left-radius: $button-border-radius;
				// border-bottom-left-radius: $button-border-radius;

				&.is-circle {
					border-radius: 50%;
				}
			}

			&:not(:first-child):not(:last-child) {
				border-radius: 0;
			}

			&:not(:last-child) {
				// margin-right: -1px;
				border-right: $button-border;
			}

			&:hover,
			// &:focus,
			&:active {
				z-index: 1;
			}

			@include when(active) {
				z-index: 1;
			}
		}

	}
}
