@import "mixins/mixins";
@import "common/var";

@include b(card) {
    background-color: $color-white;
    transition: $card-transition;

    @include when(always-shadow) {
        box-shadow: $card-box-shadow;
    }

    @include when(hover-shadow) {
        &:hover {
            box-shadow: $card-box-shadow;
        }
    }

    @include when(border) {
        border: $card-border;
    }

    @include e(header) {
        border-bottom: $card-border;
        padding: $card-header-padding;

        @include e(title) {
            font-size: $card-header-font-size;
            font-weight: $card-header-font-weight;
            color: $card-header-color;
        }

        @include e(title-text) {
            line-height: $card-header-line-height;
        }

        @include e(append) {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            text-align: right;
        }
    }

    @include when(padding) {
        @include e(body) {
            padding: $card-body-padding;
        }
    }

    & + .el-card {
        margin-top: $card-next-margin;
    }
}
