@import "common/var";
@import "mixins/mixins";
@import "mixins/button";
@import "mixins/utils";

@include b(checkbox) {
	color: $checkbox-text-color;
	font-weight: $checkbox-font-weight;
	font-size: 0;
	position: relative;
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;
	user-select: none;

	@include e(input) {
		white-space: nowrap;
		cursor: pointer;
		outline: none;
		display: inline-block;
		line-height: 1;
		position: relative;
		vertical-align: middle;

		@include when(disabled) {
			.el-checkbox__inner {
				background-color: $checkbox-disabled-background;
				border: $checkbox-border;
				cursor: not-allowed;

				.el-checkbock__inner-icon {
					font-size: 0;
					color: $checkbox-disabled;
				}

				& + .el-checkbox__label {
					cursor: not-allowed;
					color: $checkbox-disabled;
				}
			}

			&.is-checked {
				.el-checkbox__inner {
					background-color: $checkbox-disabled-background;
					border: $checkbox-border;

					.el-checkbock__inner-icon {
						color: $checkbox-disabled;
					}
				}
			}

			&.is-indeterminate {
				.el-checkbox__inner {
					background-color: $checkbox-disabled-background;
					border: $checkbox-border;

					&::before {
						background-color: $checkbox-disabled;
					}

					.el-checkbock__inner-icon {
						font-size: 0 !important;
					}
				}
			}

			& + span.el-checkbox__label {
				color: $checkbox-disabled !important;
				cursor: not-allowed;
			}
		}

		@include when(checked) {
			.el-checkbox__inner {
				background-color: $checkbox-color;
				border-color: $checkbox-color;

				.el-checkbock__inner-icon {
					font-size: $checkbox-icon-font-size;
					color: $color-white;
				}
			}
		}

		@include when(indeterminate) {
			.el-checkbox__inner {
				font-size: 0 !important;
				background-color: $checkbox-color;
				border-color: $checkbox-color;

				&::before {
					content: '';
					position: absolute;
					display: block;
					background-color: $color-white;
					height: 2px;
					transform: scale(0.5);
					left: 0;
					right: 0;
					top: 50%;
					margin-top: -1px;
				}

				.el-checkbock__inner-icon {
					font-size: 0;
				}
			}
		}
	}

	@include e(inner) {
		display: inline-block;
		position: relative;
		border: $checkbox-border;
		border-radius: $checkbox-border-radius;
		box-sizing: border-box;
		width: $checkbox-width;
		height: $checkbox-width;
		background-color: $color-white;
		z-index: $checkbox-z-index;
		transition: $checkbox-transition;

		&:hover {
			border-color: $checkbox-color;
		}

		.el-checkbock__inner-icon {
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 0;
			color: $color-white;
			transition: $checkbox-transition;
			transform: translate(-50%, -50%);
		}
	}

	@include e(original) {
		opacity: 0;
		outline: none;
		position: absolute;
		margin: 0;
		width: 0;
		height: 0;
		z-index: -1;
	}

	@include e(label) {
		display: inline-block;
		vertical-align: middle;
		padding-left: $checkbox-label-padding;
		line-height: 1;
		font-size: $checkbox-font-size;
	}

	& + .el-checkbox {
		margin-left: $checkbox-next-margin;
	}
}

@include b(checkbox-group) {
	font-size: 0;
}
