@import "./mixins/mixins";
@import "./common/var";

@include b(collapse) {
    //border-top: 1px solid $collapse-border-color;
    border: 1px solid $collapse-border-color;
    border-radius: $border-radius-base;
}
@include b(collapse-item) {
    @include e(header) {
        //height: $collapse-header-height;
        //line-height: $collapse-header-height;
        background-color: $collapse-header-fill;
        color: $collapse-header-color;
        cursor: pointer;
        border-bottom: 1px solid $collapse-border-color;
        font-size: $collapse-header-size;
        transition: border-bottom-color .3s;
        outline: none;
        padding: $collapse-header-padding;
        position: relative;
        @include e(arrow) {
            position: absolute;
            left: $collapse-header-icon-position-left;
            //margin-right: $collapse-header-icon-margin;
            transition: transform .3s;
            font-size: $font-size-sm;
            top: 15px;
            @include when(active) {
                transform: rotate(90deg);
            }
        }

        @include when(active) {
            border-bottom-color: transparent;
        }
    }

    @include e(wrap) {
        will-change: height;
        background-color: $collapse-content-fill;
        overflow: hidden;
        box-sizing: border-box;
        border-top: 1px solid $collapse-border-color;
        border-bottom: 1px solid $collapse-border-color;
    }

    @include e(content) {
        font-size: $collapse-content-size;
        color: $collapse-content-color;
        line-height: $collapse-content-line-height;
        padding: $collapse-content-padding;
    }

    &:last-child {
        margin-bottom: -1px;
    }
}
