@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";
@import "common/popup";


.el-dialog__wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	margin: 0;
}

@include b(dialog) {
	position: relative;
	margin: 0 auto 50px;
	background: $grey-1;
	// border-radius: $border-radius-sm;
	box-shadow: $dialog-box-shadow;
	box-sizing: border-box;
	width: 50%;

	@include when(fullscreen) {
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
		height: 100%;
		overflow: auto;
	}


	@include e(header) {
		border-bottom: $dialog-header-border;
		font-weight: 700;
		padding: $dialog-padding-primary;
		padding-bottom: 15px;
	}

	@include e(headerbtn) {
		position: absolute;
		top: $dialog-padding-primary;
		right: $dialog-padding-primary;
		padding: 0;
		background: transparent;
		border: none;
		outline: none;
		cursor: pointer;
		font-size: $font-size-lg;

		.el-dialog__close {
			color: $grey-7;
		}

		&:focus,
		&:hover {
			.el-dialog__close {
				color: $color-primary;
			}
		}
	}

	@include e(title) {
		line-height: $font-size-xxxl;
		font-size: $font-size-xl;
		color: $grey-9;
	}

	@include e(body) {
		padding: 30px 20px;
		color: $grey-8;
		font-size: $dialog-font-size;
	}

	@include e(footer) {
		border-top: $dialog-header-border;
		padding: $dialog-padding-primary;
		padding-top: 15px;
		text-align: right;
		box-sizing: border-box;
	}

	// 内容居中布局
	@include m(center) {
		text-align: center;

		@include e(body) {
			text-align: initial;
			padding: 25px ($dialog-padding-primary + 5px) 30px;
		}

		@include e(footer) {
			text-align: inherit;
		}
	}
}

.dialog-fade-enter-active {
	animation: dialog-fade-in .3s;
}

.dialog-fade-leave-active {
	animation: dialog-fade-out .3s;
}

@keyframes dialog-fade-in {
	0% {
		transform: translate3d(0, -20px, 0);
		opacity: 0;
	}

	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes dialog-fade-out {
	0% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}

	100% {
		transform: translate3d(0, -20px, 0);
		opacity: 0;
	}
}