@import './common/_var';
@import './mixins/mixins';

@include b(icon) {
    // font-size: $icon-font-size;
    // color: $icon-color;
}

@at-root {
    .icon {
        overflow: hidden;
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
    }
}
