@import "mixins/mixins";
@import "common/var";
@import "input";

@include b(input-number) {
	position: relative;
	display: inline-block;
	width: $input-number-width;
	line-height: #{$input-height - 2};
	user-select: none;

	.el-input {
		display: block;

		&__inner {
			-webkit-appearance: none;
			padding-left: #{$input-height + 10};
			padding-right: #{$input-height + 10};
			font-size: $input-number-font-size;
			text-align: center;
		}
	}

	@include e((increase, decrease)) {
		position: absolute;
		z-index: 1;
		top: 1px;
		width: $input-height;
		height: auto;
		text-align: center;
		background: $input-number-icon-bg;
		color: $input-number-icon-color;
		cursor: pointer;
		font-size: $input-number-icon-font-size;

		&:hover {
			color: $input-number-primary;

			&:not(.is-disabled) ~ .el-input .el-input__inner:not(.is-disabled) {
				border-color: $input-border-color-hover;
			}
		}
        [class*=el-icon] {
            font-size: $input-number-icon-font-size;
            color: $input-number-icon-color;
        }

		&.is-disabled {
			color: $input-disbaled-background;
			cursor: not-allowed;
		}
	}

	@include e(increase) {
		right: 1px;
		border-radius: 0 $input-border-radius $input-border-radius 0;
		border-left: $border-base;
	}

	@include e(decrease) {
		left: 1px;
		border-radius: $input-border-radius 0 0 $input-border-radius;
		border-right: $border-base;
	}

	@include when(disabled) {
		@include e((increase, decrease)) {
			color: $input-disbaled;

			&:hover {
				color: $input-disbaled;
				cursor: not-allowed;
			}
		}
	}

	@include m(large) {
		width: 200px;
		line-height: #{$input-large-padding - 2};

		@include e((increase, decrease)) {
			width: $input-large-height;
            line-height: #{$input-large-height - 2};
			font-size: $input-number-icon-large-font-size;
            [class*=el-icon] {
                font-size: $input-number-icon-large-font-size;
            }
		}

		.el-input__inner {
			padding-left: #{$input-large-height + 7};
			padding-right: #{$input-large-height + 7};
		}
	}

	@include m(small) {
		width: 130px;
		line-height: #{$input-small-height - 2};

		@include e((increase, decrease)) {
			width: $input-small-height;
			height: #{$input-small-height - 2};
			font-size: $input-number-icon-small-font-size;

			[class*=el-icon] {
			transform: scale(.9);
            font-size: $input-number-icon-small-font-size;
			}
		}

		.el-input__inner {
			padding-left: #{$input-small-height + 7};
			padding-right: #{$input-small-height + 7};
		}
	}


	@include when(without-controls) {
		.el-input__inner {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	@include when(controls-right) {
		.el-input__inner {
			padding-left: 15px;
			padding-right: #{$input-height + 10};
		}

		@include e((increase, decrease)) {
			height: auto;
			line-height: #{($input-height - 2) / 2};

			[class*=el-icon] {
				transform: scale(.8);
			}
		}

		@include e(increase) {
			border-radius: 0 $input-border-radius 0 0;
			border-bottom: $input-border;
		}

		@include e(decrease) {
			right: 1px;
			bottom: 1px;
			top: auto;
			left: auto;
			border-right: none;
			border-left: $input-border;
			border-radius: 0 0 $input-border-radius 0;
		}

		&[class*=large] {
			[class*=increase], [class*=decrease] {
				line-height: #{($input-medium-height - 2) / 2};
			}
		}

		&[class*=small] {
			[class*=increase], [class*=decrease] {
				line-height: #{($input-small-height - 2) / 2};
			}
		}
	}
}
