@import "./mixins/mixins";
@import "./common/var";

@include b(textarea) {
	display: inline-block;
	width: $input-width;
	vertical-align: bottom;
	font-size: $font-size-base;

	@include e(inner) {
		display: block;
		resize: vertical;
		padding: $input-padding;
		line-height: $input-line-height;
		box-sizing: border-box;
		width: 100%;
		font-size: inherit;
		color: $input-color;
		background-color: $color-white;
		background-image: none;
		border: $input-border;
		// border-radius: $input-border-radius;
		// transition: $input-transition;

		&::placeholder {
			color: $input-placeholder-color;
		}

		&:hover {
			border-color: $input-border-color-hover;
		}

		&:focus {
			outline: none;
			border-color: $input-border-color-hover;
			box-shadow: $input-box-shadow;
		}
	}

	@include when(disabled) {
		.el-textarea__inner {
			background-color: $input-disbaled-background;
			border: $input-border;
			color: $input-disbaled;
			cursor: not-allowed;
		}

		.el-input__icon {
			cursor: not-allowed;
		}
	}
}

@include b(input) {
	position: relative;
	font-size: $input-font-size;
	display: inline-block;
	width: $input-width;
	@include scroll-bar;

	& .el-input__clear {
		color: $input-fix;
		font-size: $input-font-size;
		cursor: pointer;
		transition: $input-transition;

		&:hover {
			color: $input-fix-hover;
		}
	}

	&:hover {
		@include e(inner) {
			border-color: $input-border-color-hover;
		}
	}

	@include e(inner) {
		-webkit-appearance: none;
		background-color: $color-white;
		background-image: none;
		// border-radius: $input-border-radius;
		border: $input-border;
		box-sizing: border-box;
		color: $input-color;
		display: inline-block;
		font-size: inherit;
		height: $input-height;
		line-height: $input-height;
		outline: none;
		padding: $input-padding;
		transition: $input-transition;
		width: 100%;

		&::placeholder {
			color: $input-placeholder-color;
		}

		&:hover {
			border-color: $input-border-color-hover;
		}

		&:focus {
			border-color: $input-border-color-hover;
			box-shadow: $input-box-shadow;
		}
	}

	@include e(suffix) {
		position: absolute;
		height: 100%;
		right: $input-fix-margin;
		top: 0;
		text-align: center;
		color: $input-fix;
		transition: $input-transition;
		pointer-events: none;

		&:hover {
			color: $input-fix-hover;
		}
	}

	@include e(suffix-inner) {
		display: block;
		pointer-events: all;
		height: 100%;
	}

	@include e(prefix) {
		position: absolute;
		height: 100%;
		left: $input-fix-margin;
		top: 0;
		text-align: center;
		color: $input-fix;
		transition: $input-transition;

		&:hover {
			color: $input-fix-hover;
		}
	}

	@include e(icon) {
		max-width: 18px;
		height: 100%;
		text-align: center;
		color: $input-fix;
		transition: $input-transition;

		&:hover {
			color: $input-fix-hover;
		}
	}

	@include e(validateIcon) {
		pointer-events: none;
	}

	@include when(active) {
		.el-input__inner {
			outline: none;
			border-color: $input-border-color-hover;
		}
	}

	@include when(disabled) {
		> .el-input__inner {
			background-color: $input-disbaled-background;
			border: $input-border;
			color: $input-disbaled;
			cursor: not-allowed;
		}

		.el-input__icon {
			cursor: not-allowed;
		}
	}

	@include m(suffix) {
		.el-input__inner {
			padding-right: $input-fix-padding !important;
		}
	}

	@include m(prefix) {
		.el-input__inner {
			padding-left: $input-fix-padding !important;
		}
	}

	@include m(large) {
		@include e(inner) {
			padding: $input-large-padding;
			height: $input-large-height;
			line-height: $input-large-height;
			font-size: $input-large-font-size;
		}

		.el-input__icon {
			// line-height: $input-medium-height;
		}
	}


	@include m(small) {
		@include e(inner) {
			padding: $input-small-padding;
			height: $input-small-height;
			line-height: $input-small-height;
			font-size: $input-small-font-size;
		}

		.el-input__icon {
			// line-height: $input-medium-height;
		}
	}
}

@include b(input-group) {
	line-height: normal;
	display: inline-table;
	width: 100%;
	border-collapse: separate;

	> .el-input__inner {
		vertical-align: middle;
		display: table-cell;
	}

	@include e((append, prepend)) {
		background-color: $input-append-background;
		color: $input-append-color;
		vertical-align: middle;
		display: table-cell;
		position: relative;
		border: $input-border;
		// border-radius: $input-border-radius;
		// padding: 0 20px;
		width: 1px;
		white-space: nowrap;
		text-align: center;

		&:focus {
			outline: none;
		}

		.el-select,
		.el-button {
			display: inline-block;
			margin: -10px -20px;
		}

		button.el-button,
		div.el-select .el-input__inner,
		div.el-select:hover .el-input__inner {
			border-color: transparent;
			background-color: transparent;
			color: inherit;
			border-top: 0;
			border-bottom: 0;
		}

		.el-button,
		.el-input {
			font-size: inherit;
		}
	}

	@include e(prepend) {
		border-right: 0;
		// border-top-right-radius: 0;
		// border-bottom-right-radius: 0;
	}

	@include e(append) {
		border-left: 0;
		// border-top-left-radius: 0;
		// border-bottom-left-radius: 0;
	}

	@include m(prepend) {
		// .el-input__inner {
			// border-top-left-radius: 0;
			// border-bottom-left-radius: 0;
		// }
		.el-select .el-input.is-focus .el-input__inner {
			border-color: transparent;
		}
	}

	@include m(append) {
		// .el-input__inner {
		// 	border-top-right-radius: 0;
		// 	border-bottom-right-radius: 0;
		// }
		.el-select .el-input.is-focus .el-input__inner {
			border-color: transparent;
		}
	}
}

/** disalbe default clear on IE */
.el-input__inner::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
