@import "./mixins/mixins";
@import "./common/var";

@include b(message) {
    min-width: $message-min-width;
    box-sizing: border-box;
    // border-radius: $border-radius-base;
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    background-color: $message-background-color;
    transition: opacity 0.3s, transform .4s;
    overflow: hidden;
    padding: $message-padding;
    display: flex;
    align-items: center;
    box-shadow: $box-shadow-dark;

    @include when(center) {
        justify-content: center;
    }

    @include when(closable) {
        .el-message__content {
            padding-right: 16px;
        }
    }

    p {
        margin: 0;
    }

    @include m(info) {
        .el-message__content {
            color: $message-content-color;
        }
    }

    @include m(success) {
        .el-message__content {
            color: $message-content-color;
        }
    }

    @include m(warning) {
        .el-message__content {
            color: $message-content-color;
        }
    }

    @include m(error) {
        //background-color: $color-danger-lighter;
        //border-color: $color-danger-light;

        .el-message__content {
            color: $message-content-color;
        }
    }

    @include e(icon) {
        margin-right: 10px;
        font-size: $font-size-lg;
    }

    @include e(content) {
        padding: 0;
        font-size: 14px;
        line-height: 1;
        &:focus {
            outline-width: 0;
        }
    }

    @include e(closeBtn) {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        cursor: pointer;
        color: $message-close-hover-color;
        font-size: $message-close-size;

        &:focus {
            outline-width: 0;
        }
        &:hover {
            color: $message-close-hover-color;
        }
    }

    & .icon-success {
        color: $message-icon-success-color;
    }

    & .icon-error1 {
        color: $message-icon-danger-color;
    }

    & .icon-info-cirlce {
        color: $message-icon-info-color;
    }

    & .icon-warning-circle {
        color: $message-icon-warning-color;
    }
}

.el-message-fade-enter,
.el-message-fade-leave-active {
    opacity: 0;
    transform: translate(-50%, -100%);
}
