@import "mixins/mixins";
@import "common/var";
$gap: 20px;

@include b(select-group) {
	margin: 0;
	padding: 0;
}

@include b(select-group__wrap) {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;

	&:not(:last-of-type) {
		padding-bottom: 24px;

		&::after {
			content: '';
			position: absolute;
			display: block;
			left: $gap;
			right: $gap;
			bottom: 12px;
			height: 1px;
			background: $select-group-border;
		}
	}

	& .el-select-dropdown__item {
		padding-left: $gap;
	}
}

@include b(select-group__title) {
	padding-left: $gap - 4;
	font-size: $select-group-font-size;
	color: $select-group-color;
	line-height: $select-group-height;
}
