@import "mixins/mixins";
@import "common/var";
@import "./popper";

@include b(popover) {
    position: absolute;
    background: $popover-fill;
    min-width: 150px;
    border-radius: 4px;
    border: 1px solid $popover-border-color;
    z-index: $index-popper;
    color: $color-text-regular;
    line-height: 1.4;
    text-align: justify;
    font-size: $popover-font-size;
    box-shadow: $box-shadow-light;
    transition: $popover-transition;

    @include e(content){
        padding: $padding-2 $padding-2;
    }

    @include m(plain) {
    }

    @include e(title) {
        color: $popover-title-color;
        font-size: $popover-title-font-size;
        padding: $padding-1 $padding-2;
        border-bottom: $border-width-base $border-style-base $border-color-base;
        line-height: 1;
    }

    @include e(reference) {
        &:focus:not(.focusing), &:focus:hover {
            outline-width: 0;
        }
    }

    &:focus:active, &:focus {
        outline-width: 0;
    }
}
