@import "mixins/mixins";
@import "mixins/utils";
@import 'mixins/button';
@import "common/var";

@include b(radio) {
	font-size: 0;
	color: $radio-text-color;
	font-weight: $radio-font-weight;
	line-height: 1;
	position: relative;
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;
	outline: none;
	user-select: none;
	transition: $radio-transition;

	@include when(solid) {
		&.is-checked {
			&,
			&:hover,
			.el-radio__label {
				color: $color-white !important;
				background-color: $radio-color;
			}
		}
	}

	@include when(bordered) {
		padding: $radio-bordered-padding;
		border-radius: $radio-border-radius;
		border: $radio-border;
		box-sizing: border-box;
		height: $radio-bordered-height;
		line-height: $radio-bordered-line-height;

		&:hover {
			.el-radio__label {
				color: $radio-color;
			}
		}

		&.is-checked {
			border-color: $radio-color;

			.el-radio__label {
				color: $radio-color;
			}
		}

		&.is-disabled {
			border: $radio-border !important;
			color: $radio-disabled;
			background-color: $radio-disabled-background;
			cursor: not-allowed;

			&.is-checked {
				background-color: $radio-disabled-checked;
				color: $color-white;
			}
		}

		& + .el-radio.is-bordered {
			margin-left: 10px;
		}

		.el-radio__inner {
			display: none;
		}

		.el-radio__label {
			padding-left: 0;
		}
	}

	@include m(large) {
		&.is-bordered {
			padding: $radio-bordered-large-padding;
			height: $radio-bordered-large-height;
			line-height: $radio-bordered-large-line-height;

			.el-radio__label {
				font-size: $radio-bordered-large-font-size;
			}
		}
	}

	@include m(small) {
		&.is-bordered {
			padding: $radio-bordered-small-padding;
			height: $radio-bordered-small-height;
			line-height: $radio-bordered-small-line-height;

			.el-radio__label {
				font-size: $radio-bordered-small-font-size;
			}
		}
	}

	& + .el-radio {
		margin-left: $radio-next-margin;
	}

	@include e(input) {
		white-space: nowrap;
		cursor: pointer;
		outline: none;
		display: inline-block;
		line-height: 1;
		position: relative;
		vertical-align: middle;

		@include when(disabled) {
			.el-radio__inner {
				border: $radio-border;
				color: $radio-disabled;
				background-color: $radio-disabled-background;
				cursor: not-allowed;

				&::after {
					cursor: not-allowed;
				}

				// & + .el-radio__label {
				// 	cursor: not-allowed;
				// }
			}

			&.is-checked {
				.el-radio__inner {
					background-color: $radio-disabled-background;
					border: $radio-border;

					&::after {
						background-color: $radio-disabled;
					}
				}
			}

			& + span.el-radio__label {
				color: $radio-disabled;
				cursor: not-allowed;
			}
		}

		@include when(checked) {
			.el-radio__inner {
				border-color: $radio-color;

				&::after {
					width: $radio-checked-width;
					height: $radio-checked-width;
					margin-top: -1 * $radio-checked-width / 2;
					margin-left: -1 * $radio-checked-width / 2;
				}
			}
		}

		@include when(focus) {
			.el-radio__inner {
				border-color: $radio-color;

				&::after {
					width: $radio-checked-width;
					height: $radio-checked-width;
					margin-top: -1 * $radio-checked-width / 2;
					margin-left: -1 * $radio-checked-width / 2;
				}
			}
		}
	}

	@include e(inner) {
		border: $radio-border;
		border-radius: $radio-border-circle;
		width: $radio-width;
		height: $radio-width;
		background-color: $color-white;
		position: relative;
		cursor: pointer;
		display: inline-block;
		box-sizing: border-box;

		&:hover {
			border-color: $radio-color;
		}

		&::after {
			width: 0;
			height: 0;
			border-radius: $radio-border-circle;
			background-color: $radio-color;
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: 0;
			margin-left: 0;
			transition: $radio-transition;
		}
	}

	@include e(original) {
		opacity: 0;
		outline: none;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
	}

	// &:focus:not(.is-focus):not(:active):not(.is-disabled) { /*获得焦点时 样式提醒*/
	// 	.el-radio__inner {
	// 		box-shadow: 0 0 2px 2px $radio-input-border-color-hover;
	// 	}
	// }

	@include e(label) {
		font-size: $radio-font-size;
		vertical-align: middle;
		padding-left: $radio-label-padding;
	}
}
