@import "mixins/mixins";
@import "common/var";

@include b(radio-group) {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	font-size: 0;

	@include when(full) {
		width: 100%;

		.el-radio-button__inner {
			width: 100%;
		}
	}

	.el-radio.is-bordered {
		// border-radius: 0;
		margin: 0 0 0 -1px !important;

		&:first-child {
			margin-left: 0 !important;
			// border-radius: $radio-border-radius 0 0 $radio-border-radius;
		}

		&.is-checked {
			border-left-color: $radio-color;
			z-index: $radio-z-index;
		}

		&:last-child {
			// border-radius: 0 $radio-border-radius $radio-border-radius 0;
		}
	}
}
