@import './common/_var';
@import './mixins/mixins';

@include b(scroll) {
    overflow: hidden;
    position: relative;

    &:after {
        position: absolute;
        top: 0;
        right: -20px;
        width: 20px;
        height: 100%;
        content: '';
    }

    @include e(wrapper) {
        overflow-y: scroll;
        height: 100%;
        margin-right: -20px;
        padding-right: 20px;

        @include e(inner) {
            &:after,
            &:before {
                display: block;
                float: none;
                width: 100%;
                height: 0px;
                content: '';
            }
        }
    }
}
