@import "mixins/mixins";
@import "common/var";
@import "./popper";

@include b(select-dropdown) {
	position: absolute;
	z-index: #{$z-index-top + 1};
	border: $select-dropdown-border;
	// border-radius: $border-radius-base;
	background-color: $select-dropdown-background;
	box-shadow: $select-dropdown-shadow;
	box-sizing: border-box;
	margin: 5px 0;

	.el--option__icon {
		display: none;
	}

	&.el-select-dropdown--tag {
		max-width: 500px;

		.el-select-dropdown__item {
		display: inline-block;

		&.selected .el--option__icon {
			display: none !important;
		}
	}
}

  @include when(multiple) {
	& .el-select-dropdown__item.selected {
		color: $select-option-selected;
		background-color: $select-dropdown-background;

		&.hover {
			background-color: $select-option-hover-background;
		}

		.el--option__icon {
			display: block;
			position: absolute;
			top: 0;
			right: 20px;
			height: 100%;
			font-family: 'element-icons';
			font-size: 12px;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			}
		}
	}	

	.el-scrollbar.is-empty .el-select-dropdown__list{
		padding: 0;
	}
}

@include b(select-dropdown__empty) {
	padding: $select-dropdown-empty-padding;
	margin: 0;
	text-align: center;
	color: $select-dropdown-empty-color;
	font-size: $select-font-size;
}

@include b(select-dropdown__wrap) {
	max-height: $select-dropdown-max-height;
}

@include b(select-dropdown__list) {
	list-style: none;
	padding: $select-dropdown-padding;
	margin: 0;
	box-sizing: border-box;
}

.el-custom-select-dropdown {
	position: static;
	border: 0;
	box-shadow: none;
	border-radius: 0;
	padding-left: 0;
}

.el-select-dropdown__item.selected div,
.el-select-dropdown__item.selected .el-form-item .el-form-item__content {
	color: $select-option-selected;
}

.el-select-dropdown__item.is-disabled div,
.el-select-dropdown__item.is-disabled .el-form-item .el-form-item__content {
	color: $color-disabled;
}
