@import "./mixins/mixins";
@import "./mixins/utils";
@import "./common/var";
@import "./select-dropdown";
@import "./input";
@import "./tag";
@import "./option";
@import "./option-group";
@import "./scrollbar";

@include b(select) {
	display: inline-block;
	position: relative;
	width: 100%;
	// transition: $select-transition;

	&:hover {
		.el-input__inner {
			// border-color: $select-border-color-hover;
		}
	}

	.el-input__inner {
		cursor: pointer;
		padding-right: 35px;
		transition: unset;

		&:focus {
			border-color: $select-input-focus-background;
		}
	}

	.el-input {
		& .el-select__caret {
			color: $select-input-color;
			font-size: $select-input-font-size;
			transition: transform .3s;
			transform: rotateZ(180deg);
			cursor: pointer;

			@include when(reverse) {
				transform: rotateZ(0deg);
			}

			@include when(show-close) {
				font-size: $select-font-size;
				text-align: center;
				transform: rotateZ(180deg);
				border-radius: $border-radius-circle;
				color: $select-input-color;
				transition: $select-transition;

				&:hover {
					color: $select-close-hover-color;
				}
			}
		}

		&.is-disabled {
			& .el-input__inner {
				cursor: not-allowed;

				&:hover {
					border: $input-border;
				}
			}
		}

		&.is-focus .el-input__inner {
			border-color: $select-input-focus-background;
		}
	}

	> .el-input {
		display: block;
	}

	@include e(input) {
		border: none;
		outline: none;
		padding: 0;
		margin-left: 15px;
		color: $select-multiple-input-color;
		font-size: $select-font-size;
		appearance: none;
		height: 28px;
		background-color: transparent;

		@include when(mini) {
			height: 14px;
		}
	}

	@include e(close) {
		cursor: pointer;
		position: absolute;
		top: 8px;
		z-index: $z-index-top;
		right: 25px;
		color: $select-input-color;
		line-height: 18px;
		font-size: $select-input-font-size;

		&:hover {
			color: $select-close-hover-color;
		}
	}

	@include e(tags) {
		position: absolute;
		line-height: normal;
		white-space: normal;
		z-index: $z-index-normal;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	.el-tag {
		box-sizing: border-box;
		border-color: transparent;
		margin: 2px 0 2px 6px;
		background-color: #f0f2f5;

		&__close.el-icon-close {
			background-color: $select-placeholder;
			right: -7px;
			top: 0;
			color: $color-white;

			&:hover {
				background-color: $color-text-secondary;
			}

			&::before {
				display: block;
				transform: translate(0, .5px);
			}
		}
	}
}

@include b(custom-select) {
	.el-custom-select__icon-wrapper {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		cursor: pointer;

		&:focus {
			outline: 0;
		}

		.el-custom-select__icon {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -8px;
			margin-left: -8px;
			font-size: 16px;
			width: 1em;
			height: 1em;
			vertical-align: -0.15em;
			fill: currentColor;
			overflow: hidden;
		}
	}

	.is-disabled {
		background-color: $input-disbaled-background;
		color: $input-disbaled;
		cursor: not-allowed;
	}
}
