@import "mixins/mixins";

@include b(steps) {
    overflow: hidden;
    zoom: 1;

    &:after {
        display: block;
        clear: both;
        width: 100%;
        height: 0;
        line-height: 0;
        visibility: hidden;
        content: '';
    }
}
