@import "mixins/mixins";
@import "common/var";

@mixin stepStatus($color) {
    @include e(icon) {
        color: $color;

        .el-step__icon-inner {
            border-color: $color;
        }
    }

    @include e(title) {
        color: $color;
    }

    @include e(desc) {
        color: $color;
    }

    @include e(desc-list) {
        color: $color;

        .el-step__desc-item:before {
            background-color: $color;
        }
    }
}

@include b(step) {
    position: relative;
    float: left;
    box-sizing: border-box;

    @include e(icon) {
        display: inline-block;
        position: relative;
        background-color: $color-white;
        z-index: $z-index-normal + 1;
        color: $steps-text-color;

        .el-step__icon-inner {
            display: block;
            border: 2px solid $steps-icon-color;
            border-radius: 50%;
            width: $steps-icon-font;
            height: $steps-icon-font;
            font-size: $font-size-base;
            font-weight: $font-weight-bold;
            text-align: center;
            line-height: $steps-icon-font - 4px;
            box-sizing: border-box;
        }

        .el-step__icon-ico {
            font-size: $steps-icon-font;
            padding: 0 10px;
        }
    }

    @include e(line) {
        position: absolute;
        top: 10px;
        right: 0;
        left: 0;
        height: 2px;
        background-color: $steps-line-color;
        z-index: $z-index-normal;
    }

    @include e(title) {
        display: block;
        margin-top: $margin-1;
        font-size: $steps-title-font;
        font-weight: $font-weight-bold;
        color: $steps-text-color;
    }

    @include e(desc) {
        margin-top: $margin-1;
        padding-right: $padding-2;
        font-size: $steps-text-font;
        line-height: $line-height-base;
        color: $steps-text-color;
        box-sizing: border-box;
    }

    @include e(desc-list) {
        margin-top: $margin-1;
        max-width: 80%;
        font-size: 0;
        color: $steps-text-color;

        .el-step__desc-item {
            overflow: hidden;
            position: relative;
            display: inline-block;
            padding-left: 10px;
            width: 50%;
            line-height: 2em;
            height: 2em;
            font-size: $steps-text-font;
            box-sizing: border-box;

            &:before {
                position: absolute;
                top: 10px;
                left: 0;
                border-radius: 50%;
                width: 4px;
                height: 4px;
                background-color: $steps-text-color;
                content: '';
            }
        }
    }

    @include when(active) {
        @include stepStatus($steps-active-text-color);
            
        @include e(line) {
            background-color: $steps-active-text-color;
        }
    }

    @include when(process) {
        @include stepStatus($steps-process-text-color);

        &:before {
            position: absolute;
            top: 10px;
            right: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background-color: $steps-line-color;
            z-index: $z-index-normal;
            content: '';
        }
    }

    &:last-child {
        .el-step__line {
            display: none;
        }
    }
}


@include b(steps) {
    &.el-steps--top {
        .el-step {
            &.is-process {
                &:before {
                    top: 49px;
                }
            }

            .el-step__line {
                top: 49px;
            }
    
            .el-step__title {
                margin-top: 0;
                margin-bottom: 16px;
            }
        }
    }
    
    &.el-steps--center .el-step {
        padding: 0 24px;
        text-align: center;

        &.is-process {
            &:before {
                left: -50%;
                width: 50%;
            }
        }

        .el-step__desc-list {
            margin-right: auto;
            margin-left: auto;
            text-align: center;

            .el-step__desc-item {
                text-align: left;
            }
        }
    
        &:first-child .el-step__line {
            left: 50%;
        }
    
        &:last-child .el-step__line {
            right: 50%;
        }

        .el-step__line {
            display: block;
        }
    }
}
