@import "mixins/mixins";
@import "checkbox";
@import "tag";
@import "common/var";

@include b(table-column) {
	@include m(selection) {
		.cell {
			padding-left: 14px;
			padding-right: 14px;
		}
	}
}

@include b(table-filter) {
	border: $table-border-color;
	border-radius: 2px;
	background-color: $color-white;
	box-shadow: $table-fixed-box-shadow;
	box-sizing: border-box;
	margin: 2px 0;

	/** used for dropdown mode */
	@include e(list) {
		padding: 5px 0;
		margin: 0;
		list-style: none;
		min-width: 100px;
	}

	@include e(list-item) {
		line-height: 36px;
		padding: 0 10px;
		cursor: pointer;
		font-size: $font-size-base;

		&:hover {
			background-color: $dropdown-menuItem-hover-fill;
			color: $dropdown-menuItem-hover-color;
		}

		@include when(active) {
			background-color: $color-primary;
			color: $color-white;
		}
	}

	@include e(content) {
		min-width: 100px;
	}

	@include e(bottom) {
		border-top: $table-border-color;
		padding: 8px;

		button {
			background: transparent;
			border: none;
			color: $table-text-color;
			cursor: pointer;
			font-size: $font-size-sm;
			padding: 0 3px;

			&:hover {
				color: $color-primary;
			}

			&:focus {
				outline: none;
			}

			&.is-disabled {
				color: $color-disabled;
				cursor: not-allowed;
			}
		}
	}

	@include e(wrap) {
		max-height: 280px;
	}

	@include e(checkbox-group) {
		padding: 10px;

		label.el-checkbox {
			display: block;
			margin-right: 5px;
			margin-bottom: 8px;
			margin-left: 5px;
		}

		.el-checkbox:last-child {
			margin-bottom: 0;
		}
	}
}
