@import "mixins/mixins";
@import "common/var";

@mixin tag-type($color, $bg, $hover, $icon-hover) {
	border-color: $color;
	color: $color;
	background-color: $bg;

	@include e(close) {
		color: $color;
	}

	&:hover {
		color: $hover;

		@include e(close) {
			color: $icon-hover;
		}
	}
}

@include b(tag) {
	background-color: $tag-background;
	display: inline-block;
	padding: $tag-padding;
	font-size: 0;
	line-height: $tag-line-height;
	color: $tag-color;
	border-radius: $tag-border-radius;
	box-sizing: border-box;
	border: $tag-border;
	white-space: nowrap;
	transition: $tag-transition;
	cursor: default;

	@include e(text) {
		display: inline-block;
		font-size: $tag-font-size;
		vertical-align: middle;
	}

	&:hover {
		color: $tag-hover;

		@include e(close) {
			color: $tag-icon-hover;
		}
	}

	@include e(close) {
		display: inline-block;
		margin-left: $tag-icon-margin;
		text-align: center;
		cursor: pointer;
		font-size: $tag-icon-font-size;
		height: $tag-line-height;
		vertical-align: middle;
		color: $tag-color;

		&::before {
			display: block;
		}
	}

	@include m(primary) {
		@include tag-type($tag-primary, $tag-primary-background, $tag-primary-hover, $tag-primary-icon-hover);
	}

	@include m(success) {
		@include tag-type($tag-success, $tag-success-background, $tag-success-hover, $tag-success-icon-hover);
	}

	@include m(warning) {
		@include tag-type($tag-warning, $tag-warning-background, $tag-warning-hover, $tag-warning-icon-hover);
	}

	@include m(danger) {
		@include tag-type($tag-danger, $tag-danger-background, $tag-danger-hover, $tag-danger-icon-hover);
	}
}
