.upload-text-type {
    text-align: left;
    padding: 10px;
    height: 186px;
    .el-upload--picture-card {
        line-height: 56px;
        height: 148px;
        width: 148px;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        z-index: 1;
    }
    .el-upload-list--picture-card {
        position: absolute;
        left: 0;
        top: 0;
        height: 148px;
        width: 148px;
    }
    .exceed-limited {
        .el-upload--picture-card {
            display: none !important;
        }
    }
    .el-upload-container {
        height: 150px;
        width: 150px;
        float: left;
        position: relative;
    }
    .el-upload-button {
        width: 148px;
        height: 148px;
        float: left;
        margin-left: 8px;
        text-align: center;
        line-height: 70px;
    }
    .el-progress {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%, -50%);
        width: 130px;
    }
    .actions {
        text-align: center;
    }
    .el-upload-list__item {
        width: 100%;
    }
    .el-dialog__body {
        height: 100%;
    }
    .el-upload-dragger {
        border: 0;
        width: 146px;
        height: 146px;
        line-height: 146px;
        background: rgba(255,255,255,0.5);
        span {
            font-size: 14px;
            display: inline-block;
        }
    }

    .test {
        margin-top: 30px;
    }

    .bol-file {
        .upload-text-type {
            .el-upload--picture-card {
                display: none !important;
            }
        }
    }
}
.preview-image .el-dialog__body{
    text-align: center;
}
.preview-image .el-dialog__body img,
.preview-image .el-dialog__body video {
    max-width: 100%;
}
