<template>
    <div class="el-currency">
        <el-icon
            :name="upperName"
            v-if="iconVisible"
            :style="iconStyle"
            :class="iconClass"></el-icon>
        <span
            v-if="nameVisible"
            :style="nameStyle"
            :class="nameClass">{{ name.toUpperCase() }}</span>
        <template v-if="$slots.default">
            <slot></slot>
        </template>
    </div>
</template>

<script>
    import ElIcon from 'minderd/packages/icon';

    export default {
        name: 'ElCurrency',

        props: {
            name: {
                type: String,
                default: ''
            },

            icon: {
                type: String,
                default: null
            },

            iconVisible: {
                type: Boolean,
                default: true
            },
            nameVisible: {
                type: Boolean,
                default: true
            },
            iconStyle: {
                type: Object,
                default() {
                    return {};
                }
            },
            nameStyle: {
                type: Object,
                default() {
                    return {};
                }
            },
            iconClass: {
                type: [String, Object, Array],
                default: null
            },
            nameClass: {
                type: [String, Object, Array],
                default: null
            }
        },

        components: {
            ElIcon
        },

        computed: {
            upperName() {
                if (this.icon) {
                    return this.icon
                }
                if (!this.icon && this.name) {
                    return this.name.toUpperCase()
                }
            }
        }
    }
</script>
