<template>
    <transition name="el-message-fade">
        <div
            :class="[
        'el-message',
        type && !iconClass ? `el-message--${ type }` : '',
        center ? 'is-center' : '',
        showClose ? 'is-closable' : '',
        customClass
      ]"
            v-show="visible"
            @mouseenter="clearTimer"
            @mouseleave="startTimer"
            role="alert">
            <i class="el-message__icon" :class="iconClass" v-if="iconClass"></i>
            <el-icon class="el-message__icon" :class="'icon-'+typeClass" :name="typeClass" v-else></el-icon>
            <slot>
                <p v-if="!dangerouslyUseHTMLString" class="el-message__content">{{ message }}</p>
                <p v-else v-html="message" class="el-message__content"></p>
            </slot>
            <i v-if="showClose" @click="close">
                <el-icon  class="el-message__closeBtn" name="close" ></el-icon>
            </i>
        </div>
    </transition>
</template>

<script type="text/babel">
    const typeMap = {
        success: 'success',
        info: 'info-cirlce',
        warning: 'warning-circle',
        error: 'error1'
    };

    import ElIcon from 'minderd/packages/icon/';
    export default {
        data() {
            return {
                visible: false,
                message: '',
                duration: 3000,
                type: 'info',
                iconClass: '',
                customClass: '',
                onClose: null,
                showClose: false,
                closed: false,
                timer: null,
                dangerouslyUseHTMLString: false,
                center: false
            };
        },
        components: {
            ElIcon
        },
        computed: {
            //  icon-correct
            typeClass() {
                return this.type && !this.iconClass
                    ? `${ typeMap[this.type] }`
                    : '';
            }
        },

        watch: {
            closed(newVal) {
                if (newVal) {
                    this.visible = false;
                    this.$el.addEventListener('transitionend', this.destroyElement);
                }
            }
        },

        methods: {
            destroyElement() {
                this.$el.removeEventListener('transitionend', this.destroyElement);
                this.$destroy(true);
                this.$el.parentNode.removeChild(this.$el);
            },

            close() {
                this.closed = true;
                if (typeof this.onClose === 'function') {
                    this.onClose(this);
                }
            },

            clearTimer() {
                clearTimeout(this.timer);
            },

            startTimer() {
                if (this.duration > 0) {
                    this.timer = setTimeout(() => {
                        if (!this.closed) {
                            this.close();
                        }
                    }, this.duration);
                }
            },
            keydown(e) {
                if (e.keyCode === 27) { // esc关闭消息
                    if (!this.closed) {
                        this.close();
                    }
                }
            }
        },
        mounted() {
            this.startTimer();
            document.addEventListener('keydown', this.keydown);
        },
        beforeDestroy() {
            document.removeEventListener('keydown', this.keydown);
        }
    };
</script>
