<template>
	<transition :name="disableTransitions ? '' : 'el-zoom-in-center'">
		<span class="el-tag" :class="[
        type ? 'el-tag--' + type : '',
        tagSize && `el-tag--${tagSize}`,
        {'is-hit': hit}
      ]" :style="{backgroundColor: color}">
			<span class="el-tag__text" v-if="$slots.default">
                <slot></slot>
            </span>
			<el-icon class="el-tag__close" v-if="closable" @click.stop.native="handleClose" name="close"></el-icon>
		</span>
	</transition>
</template>
<script>
import ElIcon from 'minderd/packages/icon';

export default {
    name: "ElTag",
    props: {
        text: String,
        closable: Boolean,
        type: String,
        hit: Boolean,
        disableTransitions: Boolean,
        color: String,
        size: String
    },
    methods: {
        handleClose(event) {
            this.$emit("close", event);
        }
    },
    computed: {
        tagSize() {
            return this.size || (this.$ELEMENT || {}).size;
        }
	},
	components: {
		ElIcon
	}
};
</script>
