<template>
	<div
		class="el-card"
		:class="[
			'is-' + shadow + '-shadow',
			border && 'is-border',
			padding && 'is-padding'
		]">
		<div class="el-card__header" v-if="$slots.header || header">
			<slot name="header" v-if="$slots.header"></slot>
			<el-row class="el-card__title" v-else>
				<el-col :span="$slots.append ? 20 : 24" class="text-nowrap el-card__title-text">{{ header }}</el-col>
				<el-col :span="4" class="el-card__append text-nowrap" v-if="$slots.append">
					<slot name="append"></slot>
				</el-col>
			</el-row>
		</div>
		<div class="el-card__body" :style="bodyStyle">
			<slot></slot>
		</div>
	</div>
</template>

<script>
import Row from 'minderd/packages/row';
import Col from 'minderd/packages/col';

export default {
	name: "ElCard",

    props: {
		header: {
			type: String,
			default: null
		},

		bodyStyle: {
			type: Object,
			default() {
				return {};
			}
		},

		shadow: {
			type: String,
			default: 'hover'
		},

		border: {
			type: Boolean,
			default: false
		},

		padding: {
			type: Boolean,
			default: true
		}
	},

	components: {
		'el-row': Row,
		'el-col': Col
	}
};
</script>
