<template>
	<div :class="[
    type === 'textarea' ? 'el-textarea' : 'el-input',
    inputSize ? 'el-input--' + inputSize : '',
    {
      'is-disabled': inputDisabled,
      'el-input-group': $slots.prepend || $slots.append,
      'el-input-group--append': $slots.append,
      'el-input-group--prepend': $slots.prepend,
      'el-input--prefix': $slots.prefix || prefixIcon,
      'el-input--suffix': $slots.suffix || suffixIcon || clearable
    }
    ]" @mouseenter="hovering = true" @mouseleave="hovering = false">
		<template v-if="type !== 'textarea'">
			<!-- 前置元素 -->
			<div class="el-input-group__prepend" ref="prepend" v-if="$slots.prepend">
				<slot name="prepend"></slot>
			</div>
			<input 
				:tabindex="tabindex" 
				v-if="type !== 'textarea'" 
				class="el-input__inner" 
				v-bind="$attrs" 
				:type="type" 
				:disabled="inputDisabled" 
				:autocomplete="autoComplete" 
				:value="currentValue" 
				ref="input" 
				@compositionstart="handleComposition"
				@compositionupdate="handleComposition" 
				@compositionend="handleComposition" 
				@input="handleInput" 
				@focus="handleFocus" 
				@blur="handleBlur" 
				@change="handleChange" 
				:aria-label="label">
			<!-- 前置内容 -->
			<span class="el-input__prefix" v-if="$slots.prefix || prefixIcon" :style="prefixOffset">
				<slot name="prefix"></slot>
				<el-icon class="el-input__icon" v-if="prefixIcon" :name="prefixIcon">
				</el-icon>
			</span>
			<!-- 后置内容 -->
			<span 
				class="el-input__suffix" 
				v-if="$slots.suffix || suffixIcon || showClear || validateState && needStatusIcon" 
				:style="suffixOffset">
				<span class="el-input__suffix-inner">
					<template v-if="!showClear">
						<slot name="suffix"></slot>
						<el-icon class="el-input__icon" v-if="suffixIcon" :name="suffixIcon">
						</el-icon>
					</template>
					<el-icon v-else class="el-input__icon el-input__clear" name="close" @click.native="clear"></el-icon>
				</span>
				<i class="el-input__icon" v-if="validateState" :class="['el-input__validateIcon', validateIcon]">
				</i>
			</span>
			<!-- 后置元素 -->
			<div class="el-input-group__append" ref="append" v-if="$slots.append">
				<slot name="append"></slot>
			</div>
		</template>
		<textarea 
			v-else 
			:tabindex="tabindex" 
			class="el-textarea__inner" 
			:value="currentValue" 
			@compositionstart="handleComposition" 
			@compositionupdate="handleComposition" 
			@compositionend="handleComposition" 
			@input="handleInput" 
			ref="textarea" 
			v-bind="$attrs" 
			:disabled="inputDisabled" 
			:style="textareaStyle" 
			@focus="handleFocus" 
			@blur="handleBlur" 
			@change="handleChange" 
			:aria-label="label">
		</textarea>
	</div>
</template>
<script>
import emitter from 'minderd/src/mixins/emitter';
import Migrating from "minderd/src/mixins/migrating";
import calcTextareaHeight from "./calcTextareaHeight";
import merge from "minderd/src/utils/merge";
import ElIcon from 'minderd/packages/icon';
import { isKorean } from "minderd/src/utils/shared";

export default {
    name: "ElInput",

    componentName: "ElInput",

    mixins: [emitter, Migrating],

    inheritAttrs: false,

    inject: {
        elForm: {
            default: ""
        },
        elFormItem: {
            default: ""
        }
    },

    data() {
        return {
            currentValue:
                this.value === undefined || this.value === null
                    ? ""
                    : this.value,
            textareaCalcStyle: {},
            prefixOffset: null,
            suffixOffset: null,
            hovering: false,
            focused: false,
            isOnComposition: false,
            valueBeforeComposition: null
        };
    },

    components: {
        ElIcon
    },

    props: {
        value: [String, Number],
        size: String,
        resize: String,
        form: String,
        disabled: Boolean,
        type: {
            type: String,
            default: "text"
        },
        autosize: {
            type: [Boolean, Object],
            default: false
        },
        autoComplete: {
            type: String,
            default: "off"
        },
        validateEvent: {
            type: Boolean,
            default: true
        },
        suffixIcon: String,
        prefixIcon: String,
        label: String,
        clearable: {
            type: Boolean,
            default: false
        },
        tabindex: String,
        appendWidth: {
            type: String,
            default: '130px'
        }
    },

    computed: {
        _elFormItemSize() {
            return (this.elFormItem || {}).elFormItemSize;
        },
        validateState() {
            return this.elFormItem ? this.elFormItem.validateState : "";
        },
        needStatusIcon() {
            return this.elForm ? this.elForm.statusIcon : false;
        },
        validateIcon() {
            return {
                validating: "el-icon-loading",
                success: "el-icon-circle-check",
                error: "el-icon-circle-close"
            }[this.validateState];
        },
        textareaStyle() {
            return merge({}, this.textareaCalcStyle, { resize: this.resize });
        },
        inputSize() {
            return (
                this.size || this._elFormItemSize || (this.$ELEMENT || {}).size
            );
        },
        inputDisabled() {
            return this.disabled || (this.elForm || {}).disabled;
        },
        isGroup() {
            return this.$slots.prepend || this.$slots.append;
        },
        showClear() {
            return (
                this.clearable &&
                !this.disabled &&
                !this.readonly &&
                this.currentValue !== "" &&
                (this.focused || this.hovering)
            );
        }
    },

    watch: {
        value(val, oldValue) {
            this.setCurrentValue(val);
        }
    },

    methods: {
        focus() {
            (this.$refs.input || this.$refs.textarea).focus();
        },
        blur() {
            (this.$refs.input || this.$refs.textarea).blur();
        },
        getMigratingConfig() {
            return {
                props: {
                    icon:
                        "icon is removed, use suffix-icon / prefix-icon instead.",
                    "on-icon-click": "on-icon-click is removed."
                },
                events: {
                    click: "click is removed."
                }
            };
        },
        handleBlur(event) {
            this.focused = false;
            this.$emit("blur", event);
            if (this.validateEvent) {
                this.dispatch("ElFormItem", "el.form.blur", [
                    this.currentValue
                ]);
            }
        },
        select() {
            (this.$refs.input || this.$refs.textarea).select();
        },
        resizeTextarea() {
            if (this.$isServer) return;
            const { autosize, type } = this;
            if (type !== "textarea") return;
            if (!autosize) {
                this.textareaCalcStyle = {
                    minHeight: calcTextareaHeight(this.$refs.textarea).minHeight
                };
                return;
            }
            const minRows = autosize.minRows;
            const maxRows = autosize.maxRows;

            this.textareaCalcStyle = calcTextareaHeight(
                this.$refs.textarea,
                minRows,
                maxRows
            );
        },
        handleFocus(event) {
            this.focused = true;
            this.$emit("focus", event);
        },
        handleComposition(event) {
            if (event.type === "compositionend") {
                this.isOnComposition = false;
                this.currentValue = this.valueBeforeComposition;
                this.valueBeforeComposition = null;
                this.handleInput(event);
            } else {
                const text = event.target.value;
                const lastCharacter = text[text.length - 1] || "";
                this.isOnComposition = !isKorean(lastCharacter);
                if (this.isOnComposition && event.type === "compositionstart") {
                    this.valueBeforeComposition = text;
                }
            }
        },
        handleInput(event) {
            const value = event.target.value;
            this.setCurrentValue(value);
            if (this.isOnComposition) return;
            this.$emit("input", value);
        },
        handleChange(event) {
            this.$emit("change", event.target.value);
        },
        setCurrentValue(value) {
            if (this.isOnComposition && value === this.valueBeforeComposition)
                return;
            this.currentValue = value;
            if (this.isOnComposition) return;
            this.$nextTick(_ => {
                this.resizeTextarea();
            });
            if (this.validateEvent) {
                this.dispatch("ElFormItem", "el.form.change", [value]);
            }
        },
        calcIconOffset(place) {
            const pendantMap = {
                suf: "append",
                pre: "prepend"
            };

            const pendant = pendantMap[place];

            if (this.$slots[pendant]) {
                return {
                    transform: `translateX(${place === "suf" ? "-" : ""}${
                        this.$el.querySelector(`.el-input-group__${pendant}`)
                            .offsetWidth
                    }px)`
                };
            }
        },
        clear() {
            this.$emit("input", "");
            this.$emit("change", "");
            this.$emit("clear");
            this.setCurrentValue("");
            this.focus();
        }
    },

    created() {
        this.$on("inputSelect", this.select);
    },

    mounted() {
        this.resizeTextarea();
        if (this.isGroup) {
            this.prefixOffset = this.calcIconOffset("pre");
            this.suffixOffset = this.calcIconOffset("suf");
        }

        if (this.$refs.append) {
            this.$refs.append.style.width = this.appendWidth;
        }

        if (this.$refs.prepend) {
            this.$refs.prepend.style.width = this.appendWidth;
        }
    }
};
</script>
