<template>
    <div class="el-scroll">
        <div class="el-scroll__wrapper" ref="wrapper" @mouseover="mouseover" @mouseout="mouseout" @scroll="scroll">
            <div class="el-scroll__inner" ref="inner" :style="style">
                <div ref="list"><slot></slot></div>
                <div v-if="otherSlotVisible" v-html="copyHtml"></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ElScroll',

    props: {
        list: {
            type: [Array],
            required: true,
            default: () => ([])
        },
        duration: {
            type: Number,
            default: 50
        },
        distance: {
            type: Number,
            default: 1
        }
    },

    data() {
        return {
            wrapperHeight: 0,
            innerHeight: 0,
            isHover: false,
            copyHtml: ''
        };
    },

    mounted() {
        if (this.$refs.wrapper) {
            this.wrapperHeight = this.$refs.wrapper.offsetHeight;
        }
    },

    computed: {
        enableScroll() {
            return this.innerHeight > this.wrapperHeight;
        },
        otherSlotVisible() {
            return !(this.wrapperHeight && this.innerHeight && !this.enableScroll);
        }
    },

    methods: {
        scroll() {
            const wrapper = this.$refs.wrapper;

            if (!wrapper) {
                return;
            }

            if (wrapper.scrollTop === 0 && this.isHover) {
                wrapper.scrollTop = this.innerHeight;
                return;
            }

            let diff = wrapper.scrollTop - this.innerHeight;
            if (diff > 0) {
                wrapper.scrollTop = diff;
            }
        },
        mouseover() {
            this.isHover = true;
            clearInterval(this.timer);
        },
        mouseout() {
            this.isHover = false;
            this._startScroll();
        },
        _startScroll() {
            if (!this.enableScroll) {
                return;
            }

            const wrapper = this.$refs.wrapper;

            if (!wrapper) {
                return;
            }
            
            clearInterval(this.timer);
            this.timer = setInterval(() => {
                let scrollTop = wrapper.scrollTop + this.distance;
                wrapper.scrollTop = scrollTop;
            }, this.duration);
        }
    },

    watch: {
        list: {
            immediate: true,
            deep: true,
            handler(n) {
                if (n && n.length) {
                    this.$nextTick(() => {
                        if (this.$refs.inner) {
                            this.innerHeight = this.$refs.inner.offsetHeight;
                        }

                        if (this.$refs.list) {
                            this.copyHtml = this.$refs.list.innerHTML;
                        }
                    });
                }
            }
        },
        enableScroll: {
            immediate: true,
            handler(n) {
                this._startScroll();
            }
        }
    },

    beforeDestroy() {
        clearInterval(this.timer);
    }
};
</script>
