@import "../common/var";

@mixin button-plain($hover-color, $active-color) {
    color: $button-color;
    background: $button-white;
    border: $button-border;

    &:hover {
        border-color: $hover-color;
        background: $button-white;
        color: $hover-color;
    }

    &:focus,
    &:active {
        border-color: $active-color;
        background: $button-white;
        color: $active-color;
    }

    &.is-disabled {
        &,
        &:hover,
        &:focus,
        &:active {
            color: $button-disabled;
            background: $button-disabled-background;
            border: $button-disabled;
        }
    }
}

@mixin button-transparent($color) {
    border-color: $color;
    background-color: transparent;
    color: $color;
}

@mixin button-variant($color, $hover-color, $active-color) {
    border-color: $color;
    color: $button-white;
    background-color: $color;

    &:hover {
        border-color: $hover-color;
        background-color: $hover-color;
    }

    &:focus,
    &:active,
    &.is-active {
        border-color: $active-color;
        background-color: $active-color;
    }

    &.is-disabled {
        &,
        &:hover,
        &:active,
        &:focus {
            border: $button-border;
            color: $button-disabled;
            background-color: $button-disabled-background;
            cursor: not-allowed;
        }
    }

    &.is-loading {
        &,
        &:hover,
        &:focus,
        &:active {
            border-color: rgba($color, $button-loading-opacity);
            color: $button-white;
            background-color: rgba($color, $button-loading-opacity);
            cursor: not-allowed;
        }
    }

    &.is-plain {
        @include button-plain($hover-color, $active-color);
    }
    &.is-transparent {
        @include button-transparent($grey-1)
    }
}

@mixin button-radius($padding-vertical, $padding-horizontal, $font-size) {
    $padding: min($padding-vertical, $padding-horizontal);
    $border-radius-round: $padding + ceil($font-size);

    border-radius: $border-radius-round;
}

@mixin button-size($height, $font, $padding) {
    padding: $padding;
    height: $height;
    line-height: $height;
    font-size: $font;

    @include when(circle) {
        border-radius: $button-border-circle;
        width: $height;
        height: $height;
        line-height: $height;
        padding: 0;

        @include e(icon) {
            margin-right: 0;
        }
    }
}
