@import '../common/var';
@import './config';

/* col, row等做响应式时使用 */
@mixin res($key, $map: $breakpoints) {
    @if map-has-key($map, $key) {
        @media only screen and #{inspect(map-get($map, $key))} {
            @content;
        }
    } @else {
        @warn 'Undefeined points: `#{$map}`';
    }
}

/* 块级前缀 包裹层 el-row */
@mixin b($block) {
    $B: $namespace + '-' + $block !global;

    @at-root {
        .#{$B} {
            @content;
        }
    }
}

/* 设置前缀 -- 属性 */
@mixin m($midifier) {
    $selector: &;
    $currentSelector: "";

    @each $unit in $midifier {
        $currentSelector: #{$currentSelector + $selector
                        + $modifier-separator + $unit + ","};
    }

    @at-root {
        #{$currentSelector} {
            @content;
        }
    }
}

/* 设置 is- 附加属性选择 */
@mixin when($state) {
    @at-root {
        &.#{$state-prefix + $state} {
            @content;
        }
    }
}

/* 设置子项 */
@mixin e($element) {
    $E: $element !global;
    $selector: &;
    $currentSelector: "";

    @each $unit in $element {
      $currentSelector: #{$currentSelector + "." + $B
                        + $element-separator + $unit + ","};
    }

    @if hitAllSpecialNestRule($selector) {
        @at-root {
            #{$selector} {
                #{$currentSelector} {
                    @content;
                }
            }
        }
    } @else {
        @at-root {
            #{$currentSelector} {
                @content;
            }
        }
    }
}

/* 倾斜虚线 */
@mixin dottedLine($rotate: 135, $color: $gray-300, $height: 4px) {
    height: $height;
    background: linear-gradient($rotate+deg, transparent, transparent 40%,
                $color 40%, $color 60%, transparent 60%, transparent);
    background-size: $height 100%;
}

/* Scrollbar
 -------------------------- */
@mixin scroll-bar {
    $scrollbar-thumb-background: $grey-3;
    $scrollbar-track-background: $color-white;

    &::-webkit-scrollbar {
        z-index: 11;
        width: 6px;

        &:horizontal {
            height: 6px;
        }

        &-thumb {
            border-radius: 5px;
            width: 6px;
            background: $scrollbar-thumb-background;
        }

        &-corner {
            background: $scrollbar-track-background;
        }

        &-track {
            background: $scrollbar-track-background;

            &-piece {
                background: $scrollbar-track-background;
                width: 6px;
            }
        }
    }
}

@mixin extend-rule($name) {
    @extend #{'%shared-'+$name};
}

@mixin share-rule($name) {
    $rule-name: '%shared-'+$name;

    @at-root #{$rule-name} {
      @content
    }
}

@mixin pseudo($pseudo) {
    @at-root #{&}#{':#{$pseudo}'} {
        @content
    }
}
