<template>
    <div class="upload-text-type bord-9p-dashed" :class="{'onlyOne': isReadybol == true}">
        <div class="el-upload-container"
             :class="{'exceed-limited': exceedLimited}">
            <el-upload
                :is-background="true"
                :class="className"
                ref="upload"
                :headers="requestHeader"
                :accept="accept"
                :action="action"
                list-type="picture-card"
                :on-preview="handlePictureCardPreview"
                :on-remove="handleRemove"
                :on-success="handleSuccess"
                :before-upload="beforeUpload"
                :with-credentials="true"
                :drag="true"
                :file-list="fileList"
                :disabled="isDisabled"
                :limit="limit"
                :data="params">
                <span>{{ text }}</span>
            </el-upload>
        </div>
        <div class="el-upload-button" v-if="!isDisabled">
            <el-button type="text" @click.native="replace">Replace</el-button>
            <br>
            <el-button type="text" @click.native="remove">Remove</el-button>
        </div>
        <el-dialog :visible.sync="dialogVisible" size="tiny" class="preview-image">
            <embed height="600px" :src="dialogImageUrl">
        </el-dialog>
    </div>
</template>
<script>

    export default {
        name: 'ElUploadTextType',
        props: {
            size: {
                type: String,
                default: ''
            },
            accept: {
                type: String,
                default: ''
            },
            action: {
                required: true,
                type: String
            },
            text: {
                type: String,
                default: ''
            },
            limit: {
                type: Number,
                default: 1
            },
            className: {
                type: String,
                default: ''
            },
            fileList: {
                type: Array,
                default() {
                    return []
                }
            },
            disabled: {
                type: Boolean,
                default: false
            },
            isReadybol: {
                type: Boolean,
                default: false
            },
            isDisabled: {
                type: Boolean,
                default: false
            },
            params: {
                type: Object,
                default() {
                    return {}
                }
            },
            headers: {
                type: Object,
                default() {
                    return {}
                }
            },
            value: {
                type: Array,
                default() {
                    return [];
                }
            },
            trigger: {
                type: String,
                default: ''
            },
            isBackground: {
                type: Boolean,
                default: false
            },
            visiblePreview: {
                type: Boolean,
                default: true
            },
            files: {
                type: Array,
                default() {
                    return []
                }
            }
        },
        data() {
            return {
                fileServer: '',
                dialogImageUrl: '',
                dialogVisible: false,
                exceedLimited: false,
                mapping: []
            }
        },
        computed: {
            requestHeader() {
                let header = {
                    'X-Requested-With': 'XMLHttpRequest',
                    'Token': '',
                    'Language': '',
                    'Accept-Language': 'en-us;q=0.8',
                    'Accept': 'application/json, text/plain, */*'
                };
                if (this.headers) {
                    return Object.assign({}, header, this.headers)
                } else {
                    return header;
                }
            },
            staticFile() {
                return 'url(\'' + require('./asset/file-small.svg') + '\')';
            }
        },
        watch: {
            fileList: {
                deep: true,
                // immediate: true,
                handler(n, o) {
                    setTimeout(() => {
                        this.setInitFiles(n)
                    }, 3000);
                }
            }
        },
        mounted() {
            setTimeout(() => {
                this.setInitFiles(this.fileList);
            })
        },
        methods: {
            setInitFiles(files) {
                this.exceedLimited = files.length >= this.limit;
            },
            handlePictureCardPreview(file) {
                let index= file.name.lastIndexOf('.');
                let ext = file.name.substr(index+1).toLowerCase();
                if (ext.indexOf('丨') !== -1) {
                    ext = ext.split('丨')[0]
                }
                if (ext === 'png' || ext === 'jpg' || ext === 'jpeg' || ext === 'gif') {
                    this.dialogVisible = true;
                    if (file.url.indexOf('!') !== -1) {
                        this.dialogImageUrl = file.url.split('!')[0];
                    } else {
                        this.dialogImageUrl = file.url;
                    }
                } else {
                    location.href = file.url
                }
            },
            handleRemove(file, fileList) {
                this.exceedLimited = false;
                this.$emit('input', fileList);
            },
            handleSuccess(response, file, fileList) {
                this.exceedLimited = fileList.length >= this.limit;
                this.setInitFiles(fileList);
                if (response.payload) {
                    this.$emit('input', fileList);
                } else {
                    this.$refs.upload.handleRemove();
                    this.$emit('error', {error: response.meta.message})
                }
            },

            beforeUpload(file) {
            },
            hashString(str) {
                let hash = 0;
                let i = 0;
                let len = str.length;
                let _char;

                for ( ; i < len; i++ ) {
                    _char = str.charCodeAt( i );
                    hash = _char + (hash << 6) + (hash << 16) - hash;
                }

                return hash;
            },
            remove() {
                this.exceedLimited = false;
                this.$refs.upload.handleRemove();
            },
            replace() {
                this.exceedLimited = false;
                document.getElementsByClassName(this.className)[0].childNodes[1].click();
                this.$refs.upload.clearFiles();
            },
        },
    }
</script>
