<template>
	<button
		class="el-button"
		@click="handleClick"
		:disabled="buttonDisabled || loading"
		:autofocus="autofocus"
		:type="nativeType"
		:class="[
			type ? 'el-button--' + type : '',
			buttonSize ? 'el-button--' + buttonSize : '',
			{
				'is-disabled': buttonDisabled,
				'is-loading': loading,
				'is-plain': plain,
				'is-block': block,
				'is-circle': circle,
				'is-trans': transparent
			}
		]">
        <el-icon class="el-button__icon el-icon-loading" v-if="loading" name="loading"></el-icon>
        <el-icon class="el-button__icon" v-if="icon && !loading" :name="icon"></el-icon>
		<span v-if="$slots.default">
			<slot></slot>
		</span>
	</button>
</template>
<script>
import ElIcon from 'minderd/packages/icon';

export default {
    name: "ElButton",

    inject: {
        elForm: {
            default: ""
        },
        elFormItem: {
            default: ""
        }
    },

    props: {
        type: {
            type: String,
            default: "primary"
        },
        size: String,
        icon: {
            type: String,
            default: ""
        },
        nativeType: {
            type: String,
            default: "button"
        },
        loading: Boolean,
        disabled: Boolean,
        plain: Boolean,
        autofocus: Boolean,
        circle: Boolean,
        block: Boolean,
        transparent: Boolean
    },

    computed: {
        _elFormItemSize() {
            return (this.elFormItem || {}).elFormItemSize;
        },
        buttonSize() {
            return (
                this.size || this._elFormItemSize || (this.$ELEMENT || {}).size
            );
        },
        buttonDisabled() {
            return this.disabled || (this.elForm || {}).disabled;
        }
    },

    methods: {
        handleClick(evt) {
            if (this.buttonDisabled) {
                return;
            }

            this.$emit("click", evt);
        }
    },

    components: {
        ElIcon
    }
};
</script>
