<template>
    <div class="el-custom-select">
        <el-input :value="currentLabel" readonly ref="input" :disabled="disabled">
            <el-popover slot="append" placement="bottom-end" title="" trigger="click" v-model="visible" :width="width" :disabled="disabled">
                <div class="el-custom-select__icon-wrapper" slot="reference" :class="[disabled && 'is-disabled']">
                    <el-icon class="el-custom-select__icon" name="bottom">
                    </el-icon>
                </div>
                <ul class="el-custom-select-dropdown el-select-dropdown">
                    <slot></slot>
                </ul>
            </el-popover>
        </el-input>
    </div>
</template>

<script>
import ElInput from 'minderd/packages/input';
import ElPopover from 'minderd/packages/popover';
import ElIcon from 'minderd/packages/icon';

export default {
    name: 'ElCustomSelect',

    componentName: "ElCustomSelect",    

    props: {
        value: {
            required: true,
            default: null
        },
        disabled: Boolean
    },

    data() {
        return {
            visible: false,
            width: 150,
            options: [],
            cachedOptions: [],
            createdLabel: null,
            createdSelected: false,
            selected: this.multiple ? [] : {},
            inputLength: 20,
            inputWidth: 0,
            cachedPlaceHolder: "",
            optionsCount: 0,
            filteredOptionsCount: 0,
            visible: false,
            softFocus: false,
            selectedLabel: "",
            hoverIndex: -1,
            query: "",
            previousQuery: null,
            inputHovering: false,
            currentPlaceholder: "",
            menuVisibleOnFocus: false,
            isOnComposition: false,
            isSilentBlur: false
        };
    },

    provide() {
        return {
            select: this
        };
    },

    created() {
        this.$on("handleOptionClick", this.handleOptionSelect);
        this.$on("setSelected", this.setSelected);
    },

    mounted() {
        this.width = this.$refs.input.$el.offsetWidth;
    },

    computed: {
        currentLabel() {
            for (let i = 0; i < this.options.length; i++) {
                let item = this.options[i].$options.propsData;
                if (item.value === this.value) {
                    return item.label;
                }
            }

            return '';
        }
    },

    components: {
        ElInput,
        ElPopover,
        ElIcon
    },

    methods: {
        handleOptionSelect(option) {
            let current = option.$options.propsData;
            this.$emit('input', current ? current.value : '');
            this.visible = false;
        },
        setSelected(option) {
        },        
        onOptionDestroy(index) {
            if (index > -1) {
                this.optionsCount--;
                this.filteredOptionsCount--;
                this.options.splice(index, 1);
            }
        }
    }
};
</script>
