<template>
    <transition-group
        tag="ul"
        :class="['el-upload-list',
                 'el-upload-list--' + listType,
                 { 'is-disabled': disabled },
                 fileAlign === 'left' ? 'is-left': '']"
        name="el-list">
        <li
            v-for="(file, index) in files"
            :class="['el-upload-list__item',
             'is-' + file.status,
             focusing ? 'focusing' : '',
             'is-' + size]"
            :key="file.uid || index"
            tabindex="0"
            @keydown.delete="!disabled && $emit('remove', file)"
            @focus="focusing = true"
            @blur="focusing = false"
            @click="focusing = false">
            <div
                class="el-upload-list__item-thumbnail 1"
                v-if="!fileExt(file).image && file.status !== 'uploading' && ['picture-card', 'picture'].indexOf(listType) > -1">
                <a
                    class="el-upload-file-name"
                    :href="fileExt(file).url"
                    download
                    target="_blank">
                    <el-icon class="el-icon-document" :name="fileExt(file).icon"></el-icon>
                </a>
            </div>
            <div
                class="el-upload-list__item-thumbnail 2"
                v-if="!isBackground && fileExt(file).image
                && file.status !== 'uploading' && ['picture-card', 'picture'].indexOf(listType) > -1">
                <el-icon class="icon-bofang" name="bofang" v-if="fileExt(file).video"></el-icon>
                <img :src="fileExt(file).url" alt="">
            </div>
            <div
                class="el-upload-list__item-thumbnail 3 is-background"
                :style="{backgroundImage: `url(${ fileExt(file).url })`}"
                v-else-if="isBackground && fileExt(file).image
                && file.status !== 'uploading' && ['picture-card', 'picture'].indexOf(listType) > -1" >
                <el-icon class="icon-bofang" name="bofang" v-if="fileExt(file).video"></el-icon>
            </div>
            <a class="el-upload-list__item-name" :href="file.url" download target="_blank">
                <el-icon class="el-icon-document" name="document"></el-icon>{{file.name}}
            </a>
            <label class="el-upload-list__item-status-label">
                <el-icon
                    :name="iconSuccessName"
                    :class="{'el-icon-upload-success': true,
                    'el-icon-circle-check': listType === 'text',
                    'el-icon-check': ['picture-card', 'picture'].indexOf(listType) > -1}"></el-icon>
            </label>
            <el-icon class="el-icon-close" name="close" v-if="!disabled" @click.native="$emit('remove', file)"></el-icon>
            <i class="el-icon-close-tip" v-if="!disabled">{{ t('el.upload.deleteTip') }}</i>
            <!--因为close按钮只在li:focus的时候 display, li blur后就不存在了，所以键盘导航时永远无法 focus到 close按钮上-->
            <el-progress
                v-if="file.status === 'uploading'"
                type="line"
                :class="['is-' + size]"
                :show-text="listType !== 'picture-card'"
                :stroke-width="listType === 'picture-card' ? 6 : 2"
                :percentage="parsePercentage(file.percentage)">
            </el-progress>
            <span class="el-upload-list__item-actions" v-if="listType === 'picture-card'">
                <span class="el-upload-list__item-preview" v-if="handlePreview && listType === 'picture-card'" @click="handlePreview(file)">
                    <el-icon name="zoom-in" class="el-icon-zoom-in"></el-icon>
                </span>
                <span v-if="!disabled" class="el-upload-list__item-delete" @click="$emit('remove', file)">
                    <el-icon name="delete" class="el-icon-delete"></el-icon>
                </span>
            </span>
        </li>
    </transition-group>
</template>
<script>
    const PHOTO_SIZE = {
        medium: {
            width: 148
        },
        small: {
            width: 80
        },
        normal: {
            width: 138
        }
    }
    import Locale from "minderd/src/mixins/locale"
    import ElProgress from "minderd/packages/progress"
    import ElIcon from 'minderd/packages/icon'

    export default {
        mixins: [Locale],

        data() {
            return {
                focusing: false,
                photoSize: null
            }
        },
        components: {
            ElProgress,
            ElIcon
        },

        computed: {
            iconSuccessName() {
                if (this.listType === 'text') {
                    // return 'circle-check';
                    return 'success';
                }

                if (['picture-card', 'picture'].indexOf(this.listType) > -1) {
                    return 'check';
                }

                return 'success';
            }
        },

        props: {
            files: {
                type: Array,
                default() {
                    return [];
                }
            },
            disabled: {
                type: Boolean,
                default: false
            },
            handlePreview: Function,
            listType: String,
            isBackground: Boolean,
            size: String,
            fileAlign: String,
            drag: Boolean
        },
        watch: {
            'size': {
                immediate: true,
                handler(n) {
                    // this.size === 'small' ? this.photoSize = PHOTO_SIZE.small : this.photoSize = PHOTO_SIZE.medium
                    if (!PHOTO_SIZE[n]) {
                        this.photoSize = PHOTO_SIZE.medium;
                        return;
                    }

                    this.photoSize = PHOTO_SIZE[n];
                }
            }
        },
        methods: {
            parsePercentage(val) {
                return parseInt(val, 10);
            },
            handleClick(file) {
                this.handlePreview && this.handlePreview(file);
            },
            fileExt(file) {
                let name = null;
                if (file.name.indexOf('.') !== -1) {
                    name = file.name
                } else {
                    name = file.url
                }
                let extList = name.match(/\.(\w+)/g);
                let ext = '';
                if (extList) {
                    ext = (extList.pop() || '.').substr(1).toLowerCase();
                }
                
                if (ext === 'doc' || ext === 'docx') {
                    return {image: false, icon: 'word', url: file.url}
                }
                if (ext === 'pdf') {
                    return {image: false, icon: 'pdf', url: file.url}
                }
                if (ext === 'xlsx' || ext === 'xls') {
                    return {image: false, icon: 'excel', url: file.url}
                }
                if (ext === 'txt') {
                    return {image: false, icon: 'txt', url: file.url}
                }
                if (ext === 'mp4') {
                    return {image: true, video: true, url: file.url + '?vframe/png/offset/0/w/'+ this.photoSize.width + '/h/' + this.photoSize.width}
                }
                return {image: true, url: file.url}
            }
        }
    };
</script>
