<template>
    <div 
        class="el-panel" 
        :class="[
            'is-' + shadow + '-shadow', 
            'is-' + headerLocation, 
            noPadding && 'is-no-padding',
            type && 'el-panel--' + type,
            bgColor && 'el-panel--' + bgColor
        ]">
        <div class="el-panel__header">
            <b class="header text-nowrap">{{ header }}</b>
            <div class="append">
                <slot name="append"></slot>
            </div>
        </div>
        <div class="el-panel__split" v-if="type !== 'normal'"></div>
        <div class="el-panel__body" :style="bodyStyle">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    name: "ElPanel",
    props: {
        header: {},
        headerLocation: {
            type: String,
            default: 'end'
        },
        bodyStyle: {},
        shadow: {
            type: String,
            default: 'hover'
        },
        type: {
            type: String,
            default: ''
        },
        bgColor: {
            type: String,
            default: ''
        },
        noPadding: {
            type: Boolean,
            default: false
        }
    }
};
</script>
