<template>
    <div 
        class="el-step" 
        :class="[
            stepStatus && 'is-' + stepStatus
        ]"
        ref="step">
        <b 
            class="el-step__title text-nowrap"
            v-if="titleDirection === 'top'">{{ title }}</b>
        <div class="el-step__line"></div>
        <div class="el-step__icon">
            <el-icon 
                class="el-step__icon-ico"
                v-if="icon" 
                :name="icon"></el-icon>
            <span 
                class="el-step__icon-inner" 
                v-else>
                <el-icon name="check" 
                    v-if="stepStatus === 'active'"></el-icon>
                <span v-else>{{ index + 1 }}</span>
            </span>
        </div>
        <b 
            class="el-step__title text-nowrap"
            v-if="titleDirection !== 'top'">{{ title }}</b>
        <div v-if="$slots.description">
            <slot name="description"></slot>
        </div>
        <p 
            v-else-if="typeof description === 'string'"
            class="el-step__desc">{{ description }}</p>
        <ul 
            v-else-if="(description instanceof Array)"
            class="el-step__desc-list">
            <li 
                class="el-step__desc-item" 
                v-for="(desc, key) in description"
                :key="key">
                {{ desc }}
            </li>
        </ul>
    </div>
</template>

<script>
    import ElIcon from 'minderd/packages/icon';
    import ElRow from 'minderd/packages/row';
    import ElCol from 'minderd/packages/col';

    export default {
        name: 'ElStep',

        data() {
            return {
                index: -1
            };
        },

        components: {
            ElIcon,
            ElRow,
            ElCol
        },

        props: {
            title: String,
            description: [String, Array],
            icon: String,
            status: String
        },

        beforeCreate() {
            this.$parent.steps.push(this);
        },

        beforeDestroy() {
            const steps = this.$parent.steps;
            const index = steps.indexOf(this);
            if (index >= 0) {
                steps.splice(index, 1);
            }
        },

        computed: {
            stepStatus() {
                if (this.$parent.active > this.index) {
                    return 'active';
                }

                if (this.$parent.active === this.index) {
                    return 'process';
                }

                return null;
            },

            titleDirection() {
                return this.$parent.titleDirection;
            }
        },

        mounted() {
            this._setWidth();
        },

        methods: {
            _setWidth() {
                this.$refs.step.style.width = 100 / this.$parent.stepSpan + '%';
            }
        }
    }
</script>
