<template>
    <div 
        class="el-steps"
        :class="[
            titleDirection && 'el-steps--' + titleDirection,
            alignCenter && 'el-steps--center'
        ]">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: 'ElSteps',

        props: {
            active: {
                type: Number,
                default: 0
            },

            titleDirection: {
                type: String,
                default: ''
            },

            alignCenter: {
                type: Boolean,
                default: false
            }
        },

        data() {
            return {
                steps: []
            };
        },

        components: {
        },

        computed: {
            stepSpan() {
                return this.$children.length;
            }
        },

        watch: {
            steps(steps) {
                steps.forEach((step, index) => {
                    step.index = index;
                });
            }
        }
    }
</script>
