@import "../common/var";
@import "../mixins/mixins";

@include b(date-table) {
  font-size: 12px;
  user-select: none;

  @include when(week-mode) {
    .el-date-table__row {
      &:hover {
        div {
          background-color: $grey-2;
        }
        td.available:hover {
          color: $grey-8;
        }
        td:first-child div {
          margin-left: 5px;
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
        }
        td:last-child div {
          margin-right: 5px;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
        }
      }

      &.current div {
        background-color: $grey-2;
      }
    }
  }

  td {
    width: 32px;
    height: 30px;
    padding: 4px 0;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    position: relative;

    & div {
      height: 30px;
      padding: 3px 0;
      box-sizing: border-box;
    }

    & span {
      width: 24px;
      height: 24px;
      display: block;
      margin: 0 auto;
      line-height: 24px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
    }

    &.next-month,
    &.prev-month {
      color: $grey-6;
    }

    &.today {
      position: relative;
      span {
        color: $oringe-6;
        font-weight: bold;
      }
      &.start-date span,
      &.end-date span {
        color: $grey-1;
      }
    }

    &.available:hover {
      color: $oringe-6;
    }

    &.in-range div {
      background-color: $grey-2;
      &:hover {
        background-color: $grey-3;
      }
    }

    &.current:not(.disabled) span {
      color: $grey-1;
      background-color: $oringe-6;
    }
    &.start-date div,
    &.end-date div {
      color: $grey-1;
    }

    &.start-date span,
    &.end-date span {
      background-color: $grey-6;
    }

    &.start-date div {
      margin-left: 5px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }

    &.end-date div {
      margin-right: 5px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    &.disabled div {
      background-color: $grey-3;
      opacity: 1;
      cursor: not-allowed;
      color: $grey-6;
    }

    &.selected div {
      margin-left: 5px;
      margin-right: 5px;
      background-color: $grey-2;
      border-radius: 15px;
      &:hover {
        background-color: $grey-3;
      }
    }

    &.selected span {
      background-color: $grey-6;
      color: $grey-1;
      border-radius: 15px;
    }

    &.week {
      font-size: 80%;
      color: $grey-8;
    }
  }

  th {
    padding: 5px;
    color: $grey-8;
    font-weight: 400;
    border-bottom: solid 1px $grey-4;
  }
}
