@import "../mixins/mixins";
@import "../common/var";
@import "../common/transition";

@include b(date-editor) {
  position: relative;
  display: inline-block;
  text-align: left;

  &.el-input,
  &.el-input__inner {
    width: 220px;
  }

  @include m((daterange, timerange)) {
    &.el-input,
    &.el-input__inner {
      width: 350px;
    }
  }

  @include m(datetimerange) {
    &.el-input,
    &.el-input__inner {
      width: 400px;
    }
  }

  @include m(dates) {
    .el-input__inner {
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .el-icon-circle-close {
    cursor: pointer;
  }

  .el-range__icon {
    font-size: 14px;
    margin-left: -5px;
    color: $grey-6;
    float: left;
    line-height: 32px;
  }

  .el-range-input {
    appearance: none;
    border: none;
    outline: none;
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 39%;
    text-align: center;
    font-size: $font-size-base;
    color: $grey-8;

    &::placeholder {
      color: $grey-6;
    }
  }

  .el-range-separator {
    display: inline-block;
    height: 100%;
    padding: 0 5px;
    margin: 0;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    width: 5%;
    color: $grey-9;
  }

  .el-range__close-icon {
    font-size: 14px;
    color: $grey-6;
    width: 25px;
    display: inline-block;
    float: right;
    line-height: 32px;
  }
}

@include b(range-editor) {
  &.el-input__inner {
    display: inline-flex;
    align-items: center;
    padding: 3px 10px;
  }

  .el-range-input {
    line-height: 1;
  }

  @include when(active) {
    border-color: $oringe-6;

    &:hover {
      border-color: $oringe-6;
    }
  }

  @include m(medium) {
    &.el-input__inner {
      height: $input-medium-height;
    }

    .el-range-separator {
      line-height: 28px;
      font-size: $input-medium-font-size;
    }

    .el-range-input {
      font-size: $input-medium-font-size;
    }

    .el-range__icon,
    .el-range__close-icon {
      line-height: 28px;
    }
  }

  @include m(small) {
    &.el-input__inner {
      height: $input-small-height;
    }

    .el-range-separator {
      line-height: 24px;
      font-size: $input-small-font-size;
    }

    .el-range-input {
      font-size: $input-small-font-size;
    }

    .el-range__icon,
    .el-range__close-icon {
      line-height: 24px;
    }
  }

  @include m(mini) {
    &.el-input__inner {
      height: $input-mini-height;
    }

    .el-range-separator {
      line-height: 20px;
      font-size: $input-mini-font-size;
    }

    .el-range-input {
      font-size: $input-mini-font-size;
    }

    .el-range__icon,
    .el-range__close-icon {
      line-height: 20px;
    }
  }

  @include when(disabled) {
    background-color: $grey-3;
    border-color: $grey-4;
    color: $grey-6;
    cursor: not-allowed;

    &:hover, &:focus {
      border-color: $grey-4;
    }

    input {
      background-color: $grey-3;
      color: $grey-6;
      cursor: not-allowed;
      &::placeholder {
        color: $grey-6;
      }
    }

    .el-range-separator {
      color: $grey-6;
    }
  }
}
