@import "../common/var";

@include b(year-table) {
  font-size: 12px;
  margin: -1px;
  border-collapse: collapse;

  .el-icon {
    color: $grey-9;
  }

  td {
    text-align: center;
    padding: 20px 3px;
    cursor: pointer;

    &.disabled .cell {
      background-color: $grey-3;
      cursor: not-allowed;
      color: $grey-6;

      &:hover {
        color: $grey-6;
      }
    }

    .cell {
      width: 48px;
      height: 32px;
      display: block;
      line-height: 32px;
      color: $grey-8;
      margin: 0 auto;

      &:hover {
        color: $oringe-6;
      }
    }

    &.current:not(.disabled) .cell {
      color: $oringe-6;
    }
  }
}
