@import './var';

$grays: (
    'gry-1': $grey-1,
    'gry-2': $grey-2,
    'gry-3': $grey-3,
    'gry-4': $grey-4,
    'gry-5': $grey-5,
    'gry-6': $grey-6,
    'gry-7': $grey-7,
    'gry-8': $grey-8,
    'gry-9': $grey-9,
    'gry-10': $grey-10
);

$reds: (
    'red-1': $red-1,
    'red-2': $red-2,
    'red-3': $red-3,
    'red-4': $red-4,
    'red-5': $red-5,
    'red-6': $red-6,
    'red-7': $red-7,
    'red-8': $red-8,
    'red-9': $red-9,
    'red-10': $red-10
);

$oringes: (
    'org-1': $oringe-1,
    'org-2': $oringe-2,
    'org-3': $oringe-3,
    'org-4': $oringe-4,
    'org-5': $oringe-5,
    'org-6': $oringe-6,
    'org-7': $oringe-7,
    'org-8': $oringe-8,
    'org-9': $oringe-9,
    'org-10': $oringe-10
);

$greens: (
    'grn-1': $green-1,
    'grn-2': $green-2,
    'grn-3': $green-3,
    'grn-4': $green-4,
    'grn-5': $green-5,
    'grn-6': $green-6,
    'grn-7': $green-7,
    'grn-8': $green-8,
    'grn-9': $green-9,
    'grn-10': $green-10
);

$yellows: (
    'yel-1': $yellow-1,
    'yel-2': $yellow-2,
    'yel-3': $yellow-3,
    'yel-4': $yellow-4,
    'yel-5': $yellow-5,
    'yel-6': $yellow-6,
    'yel-7': $yellow-7,
    'yel-8': $yellow-8,
    'yel-9': $yellow-9,
    'yel-10': $yellow-10
);

$blues: (
    'blue-1': $blue-1,
    'blue-2': $blue-2,
    'blue-3': $blue-3,
    'blue-4': $blue-4,
    'blue-5': $blue-5,
    'blue-6': $blue-6,
    'blue-7': $blue-7,
    'blue-8': $blue-8,
    'blue-9': $blue-9,
    'blue-10': $blue-10
);

$font-sizes: (
    'no': 0,
    'xs': $font-size-xs,
    'sm': $font-size-sm,
    'base': $font-size-base,
    'lg': $font-size-lg,
    'xl': $font-size-xl,
    'xxl': $font-size-xxl,
    'xxxl': $font-size-xxxl,
    'ico-s': 28px,
    'ico-m': 32px,
    'ico-l': 36px,
    'ico-xl': 40px
);

$font-weights: (
    'reg': $font-weight-regular,
    'med': $font-weight-medium,
    'semi': $font-weight-semibold,
    'bold': $font-weight-bold
);

$border-radius: (
    'base': $border-radius-base,
    'sm': $border-radius-sm,
    'cir': $border-radius-circle
);

$margin-base: $margin-1;
$padding-base: $padding-1;
$height-base: $margin-1;
$width-base: $margin-1;
$bord-wid-base: $border-width-base;

$z-indexs: (
    'nor-xs': $z-index-normal - 2,
    'nor-s': $z-index-normal - 1,
    'nor': $z-index-normal,
    'nor-l': $z-index-normal + 1,
    'nor-xl': $z-index-normal + 2,
    'top-xs': $z-index-top - 2,
    'top-s': $z-index-top - 1,
    'top': $z-index-top,
    'top-l': $z-index-top + 1,
    'top-xl': $z-index-top + 2,
    'pop-xs': $z-index-popover - 2,
    'pop-s': $z-index-popover - 1,
    'pop': $z-index-popover,
    'pop-l': $z-index-popover + 1,
    'pop-xl': $z-index-popover + 2
);

$box-shadows: (
    'base': $box-shadow-base,
    'dark': $box-shadow-dark,
    'light': $box-shadow-light,
    'p-base': $box-shadow-primary-base,
    'p-dark': $box-shadow-primary-dark,
    'p-light': $box-shadow-primary-light
);

$transitions: (
    'base': $transition-base,
    'fade': $transition-fade,
    'coll': $transition-collapse
);

$displays: (
    'blk': block,
    'no': none,
    'inli': inline,
    'b-inli': inline-block,
    'tab': table,
    'row': row,
    'cell': cell,
    'col': column
);

$text-aligns: (
    'cent': center,
    'lft': left,
    'rgt': right,
    'just': justify
);

$vertical-aligns: (
    'top': top,
    'mid': middle,
    'btm': bottom,
    'baln': baseline
);

$floats: (
    'lft': left,
    'rgt': right
);

$clears: (
    'both': both,
    'lft': left,
    'rgt': right
);

$border-styles: (
    'sld': solid,
    'dash': dashed,
    'dott': dotted,
    'doub': double,
    'no': none,
    'hidd': hidden,
    'groo': groove,
    'rid': ridge,
    'ins': inset,
    'out': outset,
    'inhe': inherit
);

$box-sizings: (
    'cont': content-box,
    'bord': border-box
);

$cursors: (
    'url': url,
    'defa': default,
    'auto': auto,
    'cros': crosshair,
    'poin': pointer,
    'move': move,
    'e-res': e-resize,
    'ne-res': ne-resize,
    'nw-res': nw-resize,
    'n-res': n-resize,
    'se-res': se-resize,
    'sw-res': sw-resize,
    's-res': s-resize,
    'w-res': w-resize,
    'text': text,
    'wait': wait,
    'help': help,
    'n-allow': not-allowed,
    'zoom-in': zoom-in,
    'zoom-out': zoom-out
);

$text-decorations: (
    'no': none,
    'under': underline,
    'over': overline,
    'thro': line-through,
    'bli': blink
);

$text-transforms: (
    'cap': capitalize,
    'up': uppercase,
    'low': lowercase
);

$positions: (
    'rel': relative,
    'abs': absolute,
    'fix': fixed,
    'sta': static
);

$line-heights: (
    'xs': 1,
    's': 1.5,
    'm': 2,
    'l': 3,
    'xl': 4,
    'xxl': 5,
    'xxxl': 6
);

$background-sizes: (
    'cover': cover,
    'cont': contain,
    '100': 100% 100%
);

$background-repeats: (
    'no': no-repeat,
    'rep': repeat,
    'x': repeat-x,
    'y': repeat-y
);

$overflows: (
    'visi': visible,
    'hid': hidden,
    'scro': scroll,
    'auto': auto,
);

$scales: (
    'xxs': 0.8,
    'xs': 0.9,
    's': 0.95,
    'm': 1,
    'l': 1.05,
    'xl': 1.2,
    'xxl': 2
);
