/* 基础颜色 */
$grey-1: #fff !default;
$grey-2: #fafafa !default;
$grey-3: #f5f5f5 !default;
$grey-4: #e8e8e8 !default;
$grey-5: #d9d9d9 !default;
$grey-6: #bfbfbf !default;
$grey-7: #8c8c8c !default;
$grey-8: #595959 !default;
$grey-9: #262626 !default;
$grey-10: #000 !default;

$red-1: #fff1f0 !default;
$red-2: #ffccc7 !default;
$red-3: #ffa39e !default;
$red-4: #ff7875 !default;
$red-5: #ff4d4f !default;
$red-6: #f5222d !default;
$red-7: #cf1322 !default;
$red-8: #a8071a !default;
$red-9: #820014 !default;
$red-10: #5c0011 !default;

$oringe-1: #fdf6ec !default;
$oringe-2: #ffe7ba !default;
$oringe-3: #ffd591 !default;
$oringe-4: #ffc069 !default;
$oringe-5: #ffa940 !default;
$oringe-6: #fa8c16 !default;
$oringe-7: #d46b08 !default;
$oringe-8: #ad4e00 !default;
$oringe-9: #873800 !default;
$oringe-10: #e6a23c !default;

$green-1: #f0f9eb !default;
$green-2: #d9f7be !default;
$green-3: #b7eb8f !default;
$green-4: #95de64 !default;
$green-5: #73d13d !default;
$green-6: #52c41a !default;
$green-7: #389e0d !default;
$green-8: #237804 !default;
$green-9: #135200 !default;
$green-10: #092b00 !default;

$yellow-1: #feffe6 !default;
$yellow-2: #ffffb8 !default;
$yellow-3: #fffb8f !default;
$yellow-4: #fff566 !default;
$yellow-5: #ffec3d !default;
$yellow-6: #fadb14 !default;
$yellow-7: #d4b106 !default;
$yellow-8: #ad8b00 !default;
$yellow-9: #876800 !default;
$yellow-10: #614700 !default;

$blue-1: #e6f7ff !default;
$blue-2: #bae7ff !default;
$blue-3: #91d5ff !default;
$blue-4: #69c0ff !default;
$blue-5: #40a9ff !default;
$blue-6: #1890ff !default;
$blue-7: #096dd9 !default;
$blue-8: #0050b3 !default;
$blue-9: #003a8c !default;
$blue-10: #002766 !default;

/* 色彩 */
$color-white: $grey-1 !default;
$color-black: $grey-10 !default;
$color-text-title: $grey-9 !default;
$color-text-primary: $grey-8 !default;
$color-text-secondary: $grey-7 !default;
$color-disabled: $grey-6 !default;
$color-disabled-background: $grey-3 !default;
$color-background: $grey-3 !default;
$color-placeholder: $grey-5 !default;

$color-primary: $oringe-6 !default; // 主色
$color-success: $green-6 !default; // 成功
$color-warning: $yellow-6 !default; // 警告
$color-danger: $red-6 !default; // 危险
$color-info: $grey-6 !default; // 信息
$color-info-primary: $blue-6 !default;

$color-primary-deep: $oringe-7 !default;
$color-success-deep: $green-7 !default;
$color-warning-deep: $yellow-7 !default;
$color-danger-deep: $red-7 !default;
$color-info-deep: $grey-7 !default;

$color-primary-light: $oringe-5 !default;
$color-success-light: $green-5 !default;
$color-warning-light: $yellow-5 !default;
$color-danger-light: $red-5 !default;
$color-info-light: $grey-5 !default;

/* 字体 字号 */
$font-path: 'fonts' !default;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
"Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
SimSun, sans-serif;
$font-size-base: 14px !default;
$font-size-xs: 10px !default;
$font-size-sm: 12px !default;
$font-size-lg: 16px !default;
$font-size-xl: 18px !default;
$font-size-xxl: 20px !default;
$font-size-xxxl: 24px !default;

/* 行高 */
$line-height-base: 1.5 !default;

/* font-weight */
$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;

/* border divider */
$border-color-base: $grey-5 !default;
$border-width-base: 1px !default;
$border-style-base: solid !default;
$border-base: $border-width-base $border-style-base $border-color-base !default;
$border-radius-base: 6px !default;
$border-radius-sm: 4px !default;
$border-radius-circle: 50% !default;

$dividers-color: $grey-4 !default;


/* margin padding */
$margin-1: 8px !default;
$margin-2: 16px !default;
$margin-3: 24px !default;
$margin-4: 32px !default;
$margin-5: 40px !default;

$padding-1: 8px !default;
$padding-2: 16px !default;
$padding-3: 24px !default;
$padding-4: 32px !default;
$padding-5: 40px !default;

/* z-index */
$z-index-normal: 1 !default;
$z-index-top: 999 !default;
$z-index-popover: 9999 !default;

/* box-shadow */
$box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
$box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12) !default;
$box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;

$box-shadow-primary-base: 0 2px 4px rgba($color-primary, .12), 0 0 6px rgba($color-primary, .04) !default;
$box-shadow-primary-dark: 0 2px 4px rgba($color-primary, .12), 0 0 6px rgba($color-primary, .12) !default;
$box-shadow-primary-light: 0 2px 12px 0 rgba($color-primary, 0.1) !default;

/* 动画 */
$transition-base: all .2s ease-in-out !default;
$transition-fade: opacity .15s linear !default;
$transition-collapse: height .35s ease !default;

/* Break-point
--------------------------*/
$sm: 768px !default;
$md: 992px !default;
$lg: 1200px !default;
$xl: 1920px !default;

$breakpoints: (
    'xs' : (max-width: $sm),
    'sm' : (min-width: $sm),
    'md' : (min-width: $md),
    'lg' : (min-width: $lg),
    'xl' : (min-width: $xl)
);

$breakpoints-spec: (
    'xs-only' : (max-width: $sm - 1),
    'sm-and-up' : (min-width: $sm),
    'sm-only': "(min-width: #{$sm}) and (max-width: #{$md} - 1)",
    'sm-and-down': (max-width: $md - 1),
    'md-and-up' : (min-width: $md),
    'md-only': "(min-width: #{$md}) and (max-width: #{$lg } - 1)",
    'md-and-down': (max-width: $lg - 1),
    'lg-and-up' : (min-width: $lg),
    'lg-only': "(min-width: #{$lg}) and (max-width: #{$xl } - 1)",
    'lg-and-down': (max-width: $xl - 1),
    'xl-only' : (min-width: $xl),
);

/* Layout Container */
$header-padding: $padding-3 !default;
$footer-padding: $padding-3 !default;

/* Card */
$card-header-font-size: $font-size-lg !default;
$card-header-color: $color-text-title !default;
$card-header-line-height: $line-height-base !default;
$card-header-font-weight: $font-weight-semibold !default;
$card-header-padding: $padding-2 $padding-3 !default;
$card-border: $border-base !default;
$card-body-padding: $padding-3 !default;
$card-box-shadow: $box-shadow-base !default;
$card-transition: $transition-base !default;
$card-next-margin: $margin-3 !default;

/* Button */
$button-font-weight: $font-weight-regular !default;
$button-border: $border-base !default;
$button-padding: 0 $padding-3 !default;
$button-padding-vertical: 0 !default;
$button-padding-horizontal: $padding-3 !default;
$button-border-radius: $border-radius-sm !default;
$button-border-circle: $border-radius-circle !default;
$button-white: $color-white !default;
$button-next-margin: $margin-1 !default;
$button-color: $color-text-secondary !default;

$button-height: 40px !default;
$button-font-size: $font-size-base !default;

$button-large-height: 44px !default;
$button-large-font-size: $font-size-lg !default;
$button-large-padding: 0 $padding-3 !default;

$button-small-height: 30px !default;
$button-small-font-size: $font-size-sm !default;
$button-small-padding: 0 $padding-2 !default;

$button-mini-height: 18px !default;
$button-mini-font-size: $font-size-xs !default;
$button-mini-padding: 0 $padding-1 !default;

$button-primary: $color-primary !default;
$button-primary-hover: $color-primary-light !default;
$button-primary-active: $color-primary-deep !default;

$button-success: $color-success !default;
$button-success-hover: $color-success-light !default;
$button-success-active: $color-success-deep !default;

$button-danger: $color-danger !default;
$button-danger-hover: $color-danger-light !default;
$button-danger-active: $color-danger-deep !default;

//$button-transparent:
$button-disabled: $color-disabled !default;
$button-disabled-background: $color-disabled-background !default;

$button-transition: $transition-base !default;
$button-loading-opacity: 0.6 !default;
$button-icon-margin: $margin-1 !default;

/* Icon */
$icon-font-size: $font-size-lg !default;
$icon-color: $color-text-primary !default;

/* Checkbox */
$checkbox-color: $color-primary !default;
$checkbox-font-size: $font-size-base !default;
$checkbox-font-weight: $font-weight-regular !default;
$checkbox-text-color: $color-text-primary !default;
$checkbox-icon-font-size: $font-size-xs !default;

$checkbox-width: 16px !default;
$checkbox-border: $border-base !default;
$checkbox-border-radius: 0 !default;
$checkbox-transition: $transition-base !default;

$checkbox-label-padding: $padding-1 !default;
$checkbox-next-margin: $margin-2 !default;

$checkbox-z-index: $z-index-normal !default;

$checkbox-disabled: $color-disabled !default;
$checkbox-disabled-background: $color-disabled-background !default;

/* Input */
$input-font-size: $font-size-base !default;
$input-color: $color-text-primary !default;
$input-color-hover: $color-primary !default;
$input-placeholder-color: $color-placeholder !default;
$input-fix: $color-text-secondary !default;
$input-fix-hover: $color-text-primary !default;
$input-append-color: $color-text-primary !default;
$input-append-background: $color-white !default;

$input-line-height: $line-height-base !default;

$input-padding: 0 $padding-2 !default;
$input-width: 100% !default;
$input-height: 40px !default;
$input-border: $border-base !default;
$input-border-radius: $border-radius-sm !default;
$input-border-color-hover: $color-primary !default;
$input-fix-margin: $margin-2 - 2 !default;
$input-fix-padding: $padding-4 !default;

$input-transition: $transition-base !default;
$input-box-shadow: $box-shadow-primary-dark !default;

$input-large-height: 48px !default;
$input-large-font-size: $font-size-lg !default;
$input-large-padding: $padding-1 - 2 $padding-1 + 3 !default;

$input-small-height: 32px !default;
$input-small-font-size: $font-size-base !default;
$input-small-padding: 1px $padding-1 - 1 !default;

$input-disbaled: $color-disabled !default;
$input-disbaled-background: $color-disabled-background !default;

/* Radio */
$radio-border: $border-base !default;
$radio-border-radius: 0 !default;
$radio-border-circle: $border-radius-circle !default;
$radio-width: 16px !default;
$radio-checked-width: 8px !default;
$radio-border: 0 !default;
$radio-text-padding: 0 $padding-1 !default;
$radio-label-padding: $padding-1 !default;

$radio-next-margin: $margin-1 !default;
$radio-transition: $transition-base !default;

$radio-font-size: $font-size-base !default;
$radio-font-weight: $font-weight-regular !default;
$radio-text-color: $color-text-secondary !default;
$radio-color: $color-primary !default;

$radio-disabled: $color-disabled !default;
$radio-disabled-background: $color-disabled-background !default;
$radio-disabled-checked: $grey-4 !default;

$radio-bordered-height: 32px !default;
$radio-bordered-line-height: 32px !default;
$radio-bordered-padding: 0 $padding-2 - 1 !default;
$radio-bordered-font-size: $font-size-base !default;

$radio-bordered-large-height: 40px !default;
$radio-bordered-large-line-height: 40px !default;
$radio-bordered-large-padding: 0 $padding-2 - 1 !default;
$radio-bordered-large-font-size: $font-size-lg !default;

$radio-bordered-small-height: 24px !default;
$radio-bordered-small-line-height: 24px !default;
$radio-bordered-small-padding: 0 $padding-1 - 1 !default;
$radio-bordered-small-font-size: $font-size-base !default;

$radio-z-index: $z-index-normal + 1 !default;

/* radio-button */
$button-default-fill: $color-primary !default;
$button-default-color: $grey-8 !default;
$radio-button-font-size: $font-size-base !default;
$radio-button-checked-fill: $color-primary !default;
$radio-button-checked-color: $color-white !default;
$radio-button-checked-border-color: $color-primary !default;
$radio-button-disabled-checked-fill: $color-disabled !default;

/* Tag */
$tag-padding: 0 $padding-1 !default;
$tag-border: $border-base !default;
$tag-border-radius: $border-radius-sm !default;
$tag-transition: $transition-base !default;

$tag-font-size: $font-size-sm !default;
$tag-line-height: 20px !default;
$tag-color: $color-text-secondary !default;
$tag-hover: $grey-6 !default;
$tag-background: $color-background !default;

$tag-icon-font-size: $font-size-xs !default;
$tag-icon-hover: $color-text-primary !default;
$tag-icon-margin: 3px !default;

$tag-primary: $color-primary !default;
$tag-primary-hover: $color-primary-light !default;
$tag-primary-icon-hover: $color-primary-deep !default;
$tag-primary-background: $oringe-3 !default;

$tag-success: $color-success !default;
$tag-success-hover: $color-success-light !default;
$tag-success-icon-hover: $color-success-deep !default;
$tag-success-background: $green-3 !default;

$tag-warning: $color-warning !default;
$tag-warning-hover: $color-warning-light !default;
$tag-warning-icon-hover: $color-warning-deep !default;
$tag-warning-background: $yellow-3 !default;

$tag-danger: $color-danger !default;
$tag-danger-hover: $color-danger-light !default;
$tag-danger-icon-hover: $color-danger-deep !default;
$tag-danger-background: $red-3 !default;

/* Select */
$select-border-color-hover: $color-primary !default;
$select-disabled-border: $border-base !default;
$select-font-size: $font-size-base !default;
$select-close-hover-color: $color-text-secondary !default;
$select-transition: $transition-base !default;
$select-placeholder: $color-placeholder !default;

$select-input-color: $color-text-primary !default;
$select-multiple-input-color: $color-text-primary !default;
$select-input-focus-background: $color-primary !default;
$select-input-font-size: $font-size-xs !default;

$select-option-color: $color-text-secondary !default;
$select-option-disabled-color: $color-disabled !default;
$select-option-disabled-background: $color-disabled-background !default;
$select-option-height: 32px !default;
$select-option-hover-background: $color-background !default;
$select-option-selected: $color-primary !default;
$select-option-selected-hover: $color-background !default;

$select-group-border: $border-color-base !default;
$select-group-color: $grey-6 !default;
$select-group-height: 32px !default;
$select-group-font-size: $font-size-sm !default;

$select-dropdown-background: $color-white !default;
$select-dropdown-shadow: $box-shadow-light !default;
$select-dropdown-empty-color: $grey-3 !default;
$select-dropdown-max-height: 274px !default;
$select-dropdown-padding: $padding-1 0 !default;
$select-dropdown-empty-padding: $padding-1 0 !default;
$select-dropdown-border: $border-base !default;

 /* InputNumber */
 $input-number-primary: $color-primary !default;
 $input-number-width: 180px !default;
 $input-number-icon-color: $grey-6 !default;
 $input-number-icon-bg: $grey-3 !default;
 $input-number-font-size: $font-size-base !default;
 $input-number-icon-font-size: $font-size-sm !default;
 $input-number-icon-small-font-size: $font-size-xs !default;
 $input-number-icon-large-font-size: $font-size-lg !default;

/* Scrollbar */
$scrollbar-background-color: $grey-6 !default;
$scrollbar-hover-background-color: $color-background !default;

// /* popover */
$popover-fill: $color-white !default;
// $popover-font-size: $font-size-base !default;
$popover-border-color: $border-color-base !default;
$popover-arrow-size: 6px !default;
// $popover-padding: 12px !default;
// $popover-padding-large: 18px 20px !default;
// $popover-title-font-size: $font-size-large !default;
// $popover-title-color: $color-text-primary !default;

/* Cascader */
$cascader-menu-fill: $color-white !default;
$cascader-menu-font-size: $font-size-base !default;
$cascader-menu-radius: $border-radius-base !default;
$cascader-menu-border: $border-base !default;
$cascader-menu-border-color: $border-color-base !default;
$cascader-menu-border-width: $border-width-base !default;
$cascader-menu-color: $color-text-title !default;
$cascader-menu-option-color-active: $color-primary !default;
$cascader-menu-option-fill-active: rgba($color-primary, 0.12) !default;
$cascader-menu-option-color-hover: $color-primary !default;
$cascader-menu-option-fill-hover: rgba($color-primary, 0.06) !default;
$cascader-menu-option-color-disabled: $color-disabled !default;
$cascader-menu-option-fill-disabled: $color-disabled-background !default;
$cascader-menu-option-empty-color: $color-text-secondary !default;
$cascader-menu-group-color: $color-text-secondary !default;
$cascader-menu-shadow: 0 1px 2px rgba($grey-10, 0.14), 0 0 3px rgba($grey-10, 0.14) !default;
$cascader-menu-option-pinyin-color: $color-text-secondary !default;
$cascader-menu-submenu-shadow: 1px 1px 2px rgba($grey-10, 0.14), 1px 0 2px rgba($grey-10, 0.14) !default;
$cascader-transition: $transition-base !default;
$cascader-icon-color: $color-info !default;
$cascader-icon-font-size: $font-size-base !default;

/* Progress */
$progress-text-font-size: $font-size-base !default;
$progress-text-color: $color-text-primary !default;
$progress-outer-bg: $grey-3 !default;
$progress-inner-bg: $color-text-secondary !default;
$progress-inner-text-font-size: $font-size-xs !default;
$progress-inner-text-color: $color-white !default;

/* Table */
$table-border-color: $border-color-base !default;
$table-border: $border-base !default;
$table-text-color: $color-text-primary !default;
$table-header-color: $color-text-title !default;
$table-row-hover-background: $oringe-2 !default;
$table-current-row-background: $oringe-4 !default;
$table-header-background: $color-white !default;
$table-footer-background: $grey-5 !default;
$table-text-placeholder: $color-placeholder !default;
$table-fixed-box-shadow: $box-shadow-light !default;

$table-header-background-gray: $grey-2 !default;

/* Dropdown */
$dropdown-menu-box-shadow: $box-shadow-light !default;
$dropdown-menuItem-hover-fill: $oringe-4 !default;
$dropdown-menuItem-hover-color: $color-primary !default;

// /* Switch */
$switch-font-size: $font-size-xs !default;
$switch-height: 20px !default;
$switch-width: 40px !default;
$switch-off-color: #dcdfe6 !default;
$switch-core-border-radius: 10px !default;
$switch-button-size: 16px !default;
$switch-on-color: $color-primary !default;

// /* Badge */
$badge-fill: $red-6 !default;
$badge-radius: 10px !default;
$badge-font-size: $font-size-sm !default;
$badge-size: 18px !default;
$badge-padding: 6px !default;
$color-text-placeholder: $grey-6 !default;
$background-color-base: $grey-2 !default;

// /* Popover */
$popover-arrow-size: $border-radius-base !default;
$tooltip-arrow-size: $border-radius-base !default;
$popover-border-color: $border-color-base !default;
$popover-fill: $color-white !default;
$popover-padding: $padding-2 !default;
$index-popper: $z-index-popover !default;
$color-text-regular: $grey-8 !default;
$popover-font-size: $font-size-base !default;
$popover-padding-large: $padding-3 !default;
$popover-title-color: $grey-9 !default;
$popover-title-font-size: $font-size-base !default;
$popover-transition: $transition-base !default;

// /* MessageBox */
$msgbox-width: 420px !default;
$msgbox-border-radius: 4px !default;
$msgbox-font-size: $font-size-lg !default;
$msgbox-content-font-size: $font-size-base !default;
$msgbox-content-color: $color-text-regular !default;
$msgbox-error-font-size: 12px !default;
$msgbox-padding-primary: $padding-3 !default;
$msgbox-success-color: $color-success !default;
$msgbox-info-color: $color-info !default;
$msgbox-warning-color: $color-warning !default;
$msgbox-danger-color: $color-danger !default;
$border-color-light: $grey-5 !default;
$border-color-lighter: $grey-6 !default;

/* Steps */
$steps-icon-font: 24px !default;
$steps-title-font: $font-size-lg !default;
$steps-text-font: $font-size-sm !default;
$steps-text-color: $grey-6 !default;
$steps-icon-color: $grey-6 !default;
$steps-line-color: $grey-6 !default;

$steps-active-text-color: $color-primary !default;
$steps-active-icon-color: $color-primary !default;
$steps-active-line-color: $color-primary !default;

$steps-process-text-color: $grey-8 !default;
$steps-process-icon-color: $grey-8 !default;

/* Message */
$message-shadow: $box-shadow-base !default;
$message-min-width: 320px !default;
$message-background-color: $grey-1 !default;
$message-padding: 15px 15px 15px 20px !default;
$message-close-size: $font-size-lg !default;
$message-close-hover-color: $color-text-secondary !default;

$message-content-color: $color-text-primary !default;

$message-icon-success-color: $color-success !default;
$message-icon-info-color: $color-info-primary !default;
$message-icon-warning-color: $color-warning !default;
$message-icon-danger-color: $color-danger !default;

/* Rate
--------------------------*/
$rate-height: $line-height-base !default;
$rate-font-size: $font-size-base !default;
$rate-icon-size: $font-size-lg !default;
$rate-icon-margin: $margin-1 !default;
$rate-icon-color: $color-info-light !default;

/* Tooltip
-------------------------- */
$tooltip-fill: $grey-9 !default;
$tooltip-color: $grey-1 !default;
$tooltip-font-size: $font-size-sm !default;
$tooltip-border-color: $grey-9 !default;
$tooltip-arrow-size: 6px !default;
$tooltip-padding: $margin-1 !default;

/* Collapse
--------------------------*/
$collapse-border-color: $grey-5 !default;
$collapse-header-height: 3 !default;
$collapse-header-padding: $padding-2 !default;
$collapse-header-fill: $grey-2 !default;
$collapse-header-color: $color-text-primary !default;
$collapse-header-size: $font-size-base !default;
$collapse-header-padding: 12px 0 12px 40px ;
$collapse-header-icon-position-left: 16px !default;
$collapse-header-line-height: 46px !default;
$collapse-content-fill: $grey-1 !default;
$collapse-content-size: $font-size-base !default;
$collapse-content-color: $color-text-primary !default;
$collapse-content-padding: 16px !default;
$collapse-content-line-height: $line-height-base !default;

/* breadcrumb */
$color-breadcrumb-primary: $blue-5 !default;
$color-breadcrumb-text-primary: $grey-7 !default;


/* Alert
-------------------------- */
$alert-padding: $padding-1 15px !default;
$alert-border-radius: $border-radius-sm !default;
$alert-title-font-size: $font-size-lg !default;
$alert-close-font-size: 12px !default;
$alert-close-customed-font-size: 13px !default;

$alert-success-color: $green-6 !default;
$alert-success-background: $green-1 !default;
$alert-info-color: $grey-6 !default;
$alert-info-background: $grey-3 !default;
$alert-warning-color: $oringe-10 !default;
$alert-warning-background: $oringe-1 !default;
$alert-danger-color: $red-6 !default;
$alert-danger-background: $red-1 !default;

$alert-icon-size: $font-size-lg !default;
$alert-icon-large-size: 28px !default;

/* Loading
--------------------------*/
$loading-spinner-size: 42px !default;
$loading-fullscreen-spinner-size: 50px !default;

/* Dialog
-------------------------- */
$dialog-background-color: mix($grey-1, $color-text-primary, 40%) !default;
$dialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) !default;
$dialog-close-hover-color: $color-text-primary !default;
$dialog-title-font-size: $font-size-lg !default;
$dialog-font-size: $font-size-base !default;
$dialog-line-height: $font-size-xxxl !default;
$dialog-padding-primary: $font-size-xxl !default;
$dialog-header-border: $border-base !default;

/* Carousel
--------------------------*/
$carousel-arrow-font-size: 12px !default;
$carousel-arrow-size: 36px !default;
$carousel-arrow-background: rgba(31, 45, 61, 0.11) !default;
$carousel-arrow-hover-background: rgba(31, 45, 61, 0.23) !default;
$carousel-indicator-width: 10px !default;
$carousel-border-radius: 50% !default;
$carousel-indicator-height: 2px !default;
$carousel-indicator-padding-horizontal: 4px !default;
$carousel-indicator-padding-vertical: 12px !default;
$carousel-indicator-out-color: $grey-5 !default;

/* Transition
-------------------------- */
$fade-linear-transition: opacity 200ms linear !default;
$md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$all-transition: all .4s cubic-bezier(.645,.045,.355,1) !default;


// Input临时
$input-medium-height:36px !default;
$input-medium-font-size: 14px !default;
$input-small-height: 32px !default;
$input-small-font-size: 13px !default;
$input-mini-height: 28px !default;
$input-mini-font-size: 12px !default;

/* DatePicker
--------------------------*/
$datepicker-inner-border-color: #e4e4e4 !default;

/* Transition
-------------------------- */
$all-transition: all .3s cubic-bezier(.645,.045,.355,1) !default;
$fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$fade-linear-transition: opacity 200ms linear !default;
$md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$border-transition-base: border-color .2s cubic-bezier(.645,.045,.355,1) !default;
$color-transition-base: color .2s cubic-bezier(.645,.045,.355,1) !default;

/* Pagination
-------------------------- */
$pagination-font-size: 13px !default;
$pagination-fill: transparent !default;
$pagination-color: $color-text-primary !default;
$pagination-border-radius: 3px !default;
$pagination-button-color: $color-text-primary !default;
$pagination-button-width: 35.5px !default;
$pagination-button-height: 28px !default;
$pagination-button-disabled-color: $grey-5 !default;
$pagination-button-disabled-fill: transparent !default;
$pagination-hover-fill: $color-primary !default;
$pagination-hover-color: $color-white !default;
$pagination-color-text-placeholder: $grey-4 !default;
$pagination-color-text-regular: $grey-9 !default;

$pagination-gray-fill: $color-background !default;

/* Tabs */
$tabs-padding: 0 $padding-2;

$tabs-medium-min-width: 110px;
$tabs-medium-height: 7 * $margin-1;
$tabs-medium-line-height: 7 * $margin-1;

$tabs-small-height: 5 * $margin-1;
$tabs-small-line-height: 5 * $margin-1;

/* Upload */
$upload-width: 148px;
$upload-icon-size: 20px;
$upload-progress-width: 126px;
$upload-small-width: 80px;
$upload-small-icon-size: 14px;
$upload-small-progress-width: 66px;
$upload-normal-width: 109px;
$upload-normal-icon-size: 18px;
$upload-normal-progress-width: 90px;
$upload-drag-width: 360px;
$upload-drag-height: 180px;
$upload-small-drag-width: 250px;
$upload-small-drag-height: 130px;
$upload-normal-drag-width: 300px;
$upload-normal-drag-height: 160px;
/* Menu */
$menu-item-font-size: $font-size-base;
$menu-item-color: $color-text-primary;
$color-text-secondary: $color-text-secondary;
$menu-item-hover-fill: $oringe-3;
$menu-item-fill: $color-primary;

