@import './var';
@import './util';

body {
    font-family: $font-family;
    font-size: $font-size-base;
    color: $color-text-primary;
}

.text-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pos-tl {
    position: absolute;
    top: 0;
    left: 0;
}

.pos-tr {
    position: absolute;
    top: 0;
    right: 0;
}

.pos-rb {
    position: absolute;
    right: 0;
    bottom: 0;
}

.pos-bl {
    position: absolute;
    bottom: 0;
    left: 0;
}

.pos-mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pos-ver-mid {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.clearfix:after{
    display: block;
    clear: both;
    height: 0;
    content:'';
}
.clearFloat {
    clear: both;
    zoom:1;
    &:after {
        clear:both;
        content:'.';
        display:block;
        width: 0;
        height: 0;
        visibility:hidden;
    }
}
.bg-cont {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // background-color: $color-background;
}
