@import './var';
@import './var-map';

@mixin eachClass($maps, $prefix, $prop, $type: '') {
    @each $key, $item in $maps {
        .#{$prefix}-#{$key} {
            @if $type == '' {
                #{$prop}: $item;
            } @else {
                &:#{$type} {
                    #{$prop}: $item;
                }
            }
        }
    }
}

/* box */
@mixin boxClass($className, $prop, $val, $fix: 0) {
    $suffix: '';

    @if $fix != 0 {
        $suffix: -#{$fix};
    }

    .#{$className}-all#{$suffix} {
        #{$prop}: $val;
    }

    .#{$className}-no {
        #{$prop}: 0;
    }

    .#{$className}-lft#{$suffix} {
        #{$prop}-left: $val;
    }

    .#{$className}-rgt#{$suffix} {
        #{$prop}-right: $val;
    }

    .#{$className}-top#{$suffix} {
        #{$prop}-top: $val;
    }

    .#{$className}-btm#{$suffix} {
        #{$prop}-bottom: $val;
    }

    .#{$className}-hor#{$suffix} {
        #{$prop}-left: $val;
        #{$prop}-right: $val;
    }

    .#{$className}-ver#{$suffix} {
        #{$prop}-top: $val;
        #{$prop}-bottom: $val;
    }

    .#{$className}-auto {
        #{$prop}-right: auto;
        #{$prop}-left: auto;
    }
}

/* display */
@include eachClass($displays, disp, display);

/* margin padding */
@for $i from 1 through 10 {
    @include boxClass(mar, margin, $margin-base*$i, $i);
    @include boxClass(pad, padding, $padding-base*$i, $i);
}

/* border */
@include boxClass(bord, border, $border-base);

/* border-color */
@include eachClass($grays, bord-c, border-color);
@include eachClass($reds, bord-c, border-color);
@include eachClass($greens, bord-c, border-color);
@include eachClass($blues, bord-c, border-color);
@include eachClass($yellows, bord-c, border-color);
@include eachClass($oringes, bord-c, border-color);

/* border-style */
@include eachClass($border-styles, bord-s, border-style);

/* z-index */
@include eachClass($z-indexs, index, z-index);

/* box-shadow */
@include eachClass($box-shadows, shadow, box-shadow);

/* transition */
@include eachClass($transitions, tran, transition);

/* text-align */
@include eachClass($text-aligns, text, text-align);

/* vertical-align */
@include eachClass($vertical-aligns, text, vertical-align);

/* text-decoration */
@include eachClass($text-decorations, text, text-decoration);

/* text-transform */
@include eachClass($text-transforms, text, text-transform);

/* font-size */
@include eachClass($font-sizes, text, font-size);

/* font-weight */
@include eachClass($font-weights, text, font-weight);

/* color */
@include eachClass($grays, color, color);
@include eachClass($reds, color, color);
@include eachClass($greens, color, color);
@include eachClass($yellows, color, color);
@include eachClass($oringes, color, color);
@include eachClass($blues, color, color);

/* color hover */
@include eachClass($grays, color-h, color, hover);
@include eachClass($reds, color-h, color, hover);
@include eachClass($greens, color-h, color, hover);
@include eachClass($yellows, color-h, color, hover);
@include eachClass($oringes, color-h, color, hover);
@include eachClass($blues, color-h, color, hover);

/* color focus */
@include eachClass($grays, color-f, color, focus);
@include eachClass($reds, color-f, color, focus);
@include eachClass($greens, color-f, color, focus);
@include eachClass($yellows, color-f, color, focus);
@include eachClass($oringes, color-f, color, focus);
@include eachClass($blues, color-f, color, focus);

/* background-color */
@include eachClass($grays, bgc, background-color);
@include eachClass($reds, bgc, background-color);
@include eachClass($greens, bgc, background-color);
@include eachClass($yellows, bgc, background-color);
@include eachClass($oringes, bgc, background-color);
@include eachClass($blues, bgc, background-color);

/* background-color hover */
@include eachClass($grays, bgc-h, background-color, hover);
@include eachClass($reds, bgc-h, background-color, hover);
@include eachClass($greens, bgc-h, background-color, hover);
@include eachClass($yellows, bgc-h, background-color, hover);
@include eachClass($oringes, bgc-h, background-color, hover);
@include eachClass($blues, bgc-h, background-color, hover);

/* background-color focus */
@include eachClass($grays, bgc-f, background-color, focus);
@include eachClass($reds, bgc-f, background-color, focus);
@include eachClass($greens, bgc-f, background-color, focus);
@include eachClass($yellows, bgc-f, background-color, focus);
@include eachClass($oringes, bgc-f, background-color, focus);
@include eachClass($blues, bgc-f, background-color, focus);

/* background-color active */
@include eachClass($grays, bgc-a, background-color, active);
@include eachClass($reds, bgc-a, background-color, active);
@include eachClass($greens, bgc-a, background-color, active);
@include eachClass($yellows, bgc-a, background-color, active);
@include eachClass($oringes, bgc-a, background-color, active);
@include eachClass($blues, bgc-a, background-color, active);

/* float */
@include eachClass($floats, flt, float);

/* clear */
@include eachClass($clears, clr, clear);

/* position */
@include eachClass($positions, pos, position);

/* border-radius */
@include eachClass($border-radius, brs, border-radius);

/* box-sizing */
@include eachClass($box-sizings, box, box-sizing);

/* cursor */
@include eachClass($cursors, cur, cursor);

/* line-height em */
@include eachClass($line-heights, lh-em, line-height);

/* line-height px */
@each $fontKey, $fontItem in $font-sizes {
    @each $lhKey, $lhItem in $line-heights {
        .lh-#{$fontKey}-#{$lhKey} {
            line-height: $fontItem * $lhItem;
        }
    }
}

/* height px */
@each $key, $item in $line-heights {
    .hei-em-#{$key} {
        height: #{$item}em;
    }
}

@for $j from 0 through 40 {
    .hei-px-#{$j} {
        height: $height-base * $j;
    }
}

/* min-height px*/
@for $j from 0 through 40 {
    .min-hei-px-#{$j} {
        min-height: $height-base * $j;
    }
}

/* max-height px*/
@for $j from 0 through 40 {
    .max-hei-px-#{$j} {
        max-height: $height-base * $j;
    }
}

/* min-width px*/
@for $k from 0 through 40 {
    .min-wid-px-#{$k} {
        min-width: $width-base * $k;
    }
}

/* max-width px*/
@for $j from 0 through 40 {
    .max-wid-px-#{$j} {
        max-width: $height-base * $j;
    }
}

@for $j from 1 through 8 {
    .bord-wid-px-#{$j} {
        border-width: $j * $bord-wid-base;
    }
}
/* width */
@for $k from 0 through 40 {
    .wid-px-#{$k} {
        width: $width-base * $k;
    }

    .top-#{$k} {
        top: $width-base * $k;
    }

    .rgt-#{$k} {
        right: $width-base * $k;
    }

    .btm-#{$k} {
        bottom: $width-base * $k;
    }

    .lft-#{$k} {
        left: $width-base * $k;
    }
}

@for $i from 1 through 4 {
    .wid-#{$i * 25} {
        width: percentage($i / 4);
    }

    .hei-#{$i * 25} {
        height: percentage($i / 4);
    }

    .top-per-#{$i * 25} {
        top: percentage($i / 4);
    }

    .rgt-per-#{$i * 25} {
        right: percentage($i / 4);
    }

    .btm-per-#{$i * 25} {
        bottom: percentage($i / 4);
    }

    .lft-per-#{$i * 25} {
        left: percentage($i / 4);
    }
}

/* background-size */
@include eachClass($background-sizes, bgs, background-size);

/* background-repeat */
@include eachClass($background-repeats, bgr, background-repeat);

/* overflow */
@include eachClass($overflows, over, overflow);

/* overflow-x */
@include eachClass($overflows, over-x, overflow-x);

/* overflow-y */
@include eachClass($overflows, over-y, overflow-y);

/* opacity */
@for $i from 0 through 10 {
    .opc-#{$i} {
        opacity: $i * 0.1;
    }
}

/* transform: scale */
@each $key, $item in $scales {
    .scl-#{$key} {
        transform: scale(#{$item});
    }
}
